[2017-08-02 21:11] mattstauffer opened #1 "Make it possible to expose routes as an API endpoint"
[code]

Then the client could get that and cache it for a short time in local storage.

Pros: Get it once, it's clean and separated, you can put it behind auth and middleware, not janking up your templates with a blade directive
Cons: Extra HTTP request, caching means it can get out of sync

[2017-08-04 18:29] DanielCoulbourne opened #4 "Add Tests"
- Test that named routes are returned correctly, etc.
 - Dusk test to ensure `route()` works

[2017-08-04 18:29] DanielCoulbourne opened #5 "Update route() method to allow passing an array of route names."
Eventually we will want to support groups and namespaces more thoroughly.

[2017-08-04 21:51] #4 closed

[2017-08-05 02:39] mattstauffer commented on #5
Can you give an example?

[2017-08-06 20:13] DanielCoulbourne opened #8 "Expand Test Suite"

[2017-08-06 20:14] #8 closed

[2017-08-06 20:17] DanielCoulbourne commented on #5
Ideally I'd like `route(['posts.index', 'comments.index'])` to return `['posts', 'comments']` but I haven't fully worked out how I want to handle arguments for the individual routes if they require them. This is theoretical for now, but I think solving this problem will allow for supporting full resources in the future.

[2017-08-07 13:31] mattstauffer commented on #5
Hm. That feels like not the way I would expect it to work? But I guess I don't know what your plans are. :)

[2017-08-07 19:03] DanielCoulbourne opened #10 "Pick a faster hash for route comparison."
MD5. Not so fast. Take a look at crc32.

[2017-08-07 19:03] DanielCoulbourne opened #11 "Refactor ZiggyTokenBladeCompiler."

[2017-08-08 10:00] m1guelpf opened #15 "Get full url"
Is there a way to get the full URL (like the Laravel helper does) instead of a relative URL (like this package does)?

[2017-08-08 11:08] #11 closed

[2017-08-08 11:08] #10 closed

[2017-08-08 11:08] mattstauffer commented on #15
Good idea.

[2017-08-08 12:34] svenluijten opened #16 "Add ability to exclude routes"
Let's say I have some super secret endpoints (`/admin/whatever`), I'd like to be able to exclude them from the routes that are exposed via the generated JSON.

Maybe this can be achieved by adding a middleware, like how [`aaronlord/laroute`](https://github.com/aaronlord/laroute) does it.

As an extension of this, it'd be neat if I could use route groups to only expose certain routes to a "named" g

[2017-08-08 13:23] DanielCoulbourne commented on #16
I've been doing some thinking along these lines as well.

[2017-08-08 15:23] mattstauffer commented on #15
I originally wrote a version that prepended baseUrl to all the links.

However, we have to consider this:

{username}.myapp.com

[code]

[2017-08-08 16:23] hawkleaf commented on #1
I personally love this addition, I currently work with Quasar alot which prevents me from using a blade directive.

[2017-08-08 20:46] mikemand commented on #16
I dislike the way `laroute` does this since I have to go through and blacklist any routes I don't want to be visible, and if I forget to blacklist a route...

I would much rather have to whitelist the specific routes (or a route group). I also like your idea of using the directive to only expose routes, but I wonder if it would be possible to make it so they have to fit a specific pattern (`admin.

[2017-08-09 00:40] ctf0 commented on #16
i think i can make a PR for this as i was just thinking of the same thing

[2017-08-09 02:55] DanielCoulbourne commented on #16
@mikemand I was initially planning to export by default and require a blacklist. Can you think of any situations where accidentally exposing a route would cause a serious issue? I don't see it as a security issue so far, but happy to be proven wrong.

I think I'm okay with using a whitelist, but I'd prefer to use groups. Let me do a little thinking on this before you start working on a PR @ctf0, I

[2017-08-09 02:58] ctf0 commented on #16
@DanielCoulbourne actually the PR is already made 😆 .

regarding the route group, i dont think laravel exposes this info through the `router->getRoutes()` however here is a way around if u r interested https://github.com/ctf0/pretty-routes/blob/master/views/routes.blade.php#L41-L51

[2017-08-09 04:31] DanielCoulbourne commented on #15
I was able to solve @mattstauffer 's issue above using the super handy `$route->domain()` method on Route.php 😄

Solved in #18

[2017-08-09 04:32] #15 closed

[2017-08-09 04:41] DanielCoulbourne commented on #5
I've decided against this. Closing.

[2017-08-09 04:41] #5 closed

[2017-08-09 04:45] DanielCoulbourne commented on #1
@hawkleaf would it be useful to you if we provided the `route()` helper as a dynamically compiled JS file as well? If so, would you rather have both together, or separate endpoints for route json and the helper JS?

Might be overthinking this but it could be pretty cool.

[2017-08-09 05:10] DanielCoulbourne opened #19 "Add Contribution Guidelines"
Things to include:

 - test guidelines
 - commit message naming style-guide
 - protocol for opening an issue before opening a PR

[2017-08-09 05:12] DanielCoulbourne commented on #16
@ctf0 I made a few comments on the PR. In general I'd like to keep to one major change per PR. I would have loved to merge parts of it but not the whole thing. More info in my review of #17

Thanks for being willing to write the code! Let's work together to get it merged 😄

[2017-08-09 05:19] mikemand commented on #16
@DanielCoulbourne I cannot really think of anything, security-wise. Any serious API should have ways to prevent DoS attacks and the like, but this doesn't just expose API routes; it exposes all of them.

I couldn't imagine ever needing to expose the password reset routes and any administrative support routes probably shouldn't be exposed either. This is more personal preference, though, I guess.

[2017-08-09 07:37] mattstauffer opened #21 "Add tests for full URL and subdomain route parameters"

[2017-08-09 07:37] mattstauffer commented on #21
*url

[2017-08-09 13:09] mattstauffer commented on #21
Introduced without tests in https://github.com/tightenco/ziggy/pull/18

[2017-08-09 14:46] mattstauffer commented on #21
https://github.com/tightenco/ziggy/commit/4c068b07ad9163a47937b4d7f6f23516f7b8574d

[2017-08-09 14:46] #21 closed

[2017-08-09 16:33] mattstauffer opened #22 "Add an artisan command to output the javascript to a file for inclusion"
In case someone wanted to add this to their build process, we could have a command:

[code]

which saves the output of the script into a file wrapped in an importable module.

We could even include a sample watcher so your build tool watches the routes files for changes and then re-runs the command when necessary.

[2017-08-09 19:06] jeffochoa commented on #11
@DanielCoulbourne in the [`ZiggiServiceProvider`](https://github.com/tightenco/ziggy/blob/master/src/BladeRouteGenerator.php) class you are including this line:

[code]

Is this necessary ?

[2017-08-09 19:28] mattstauffer commented on #11
@jeffochoa left over from the old structure. Dropped. Thanks!

[2017-08-10 08:35] hawkleaf commented on #1
I don't think it'd hurt to implement both. I think though that if someone were to use that route they'd already have access to the helper JS though. Then again, I might not be the right person to ask as my experience with this type of communication between apps is very limited.

[2017-08-10 15:13] ctf0 commented on #22
easier solution would have a config path of the js file, and the package watch that file and update it on the fly when app routes are changed, now the user only add the file to the build and forget about it.

[2017-08-10 15:20] ctf0 commented on #1
👍 , so you can use the global helper for whatever & the route for the little secrets you want to keep away but i think this will make more sense if we have a `whitelist / blacklist` to what show up at which end point.

[2017-08-10 15:26] mattstauffer commented on #22
Great thinking @ctf0. The reason I didn't want to do that is because this requires the user to use Mix or whatever else, which limits them a bit. Rather, I'd love a solution that works in a variety of settings AND ALSO makes it super easy to use with mix/elixir.

Additionally, people can have custom routes files, so whatever we do would have to be helplessly configurable.. or just a guideline, whi

[2017-08-10 16:14] ctf0 commented on #22
i honestly wish if we dont use config files at all, but to keep things flexible we'll have to use the config like it or not,

also you dont need to use any extra tool to use the js file, if you want you can simply call it with `{{ assets('js/ziggy.js') }}` just make sure the saved file path is under the public folder.

[2017-08-10 18:20] mattstauffer commented on #22
Not using config would be great.

The extra tool would be for watching the routes files and triggering the regeneration of the JS file.

[2017-08-10 19:01] ctf0 commented on #22
extra tool, u mean `mix, elixir, etc.. ?` if yes then actually we can use something more clever and its within php, here is an exmaple https://github.com/ctf0/AssetCacheBust/blob/master/src/CacheBust.php

[2017-08-10 19:47] mattstauffer commented on #22
Right.. but you have to run, and configure, that command.

Think through *when* this would be running.

Something, somewhere, has to notice every time routes.php has changed, and trigger re-generation of the javascript file. What is that something?

[2017-08-10 19:53] ctf0 commented on #22
the only thing i can think about atm is an event that fires on each update to the routes list, then re-compile the js file.

or use a scheduler but not ideal.

[2017-08-10 19:59] mattstauffer commented on #22
@ctf0 you can't do that. There's nothing in the framework itself that *watches* the routes files. *something* has to trigger a comparison. If you wanted you could write that watching so that every web request checked it, but that would miss a bunch of key workflows.

Scheduler is a bad idea because most people don't run cron locally.

This is a solved problem. "While I'm developing, watch certain

[2017-08-10 20:13] ctf0 commented on #22
back to square one, but wait a minute !!!,

use `filemtime` to watch the route file and on each change, the `modified_at` time will change and thats what we use as a trigger to re-compile.

btw this is the same thing `{{ mix('someFile') }}` along with `mix.version()` use

or am i going in a loop ?

[2017-08-10 23:04] hackel opened #24 "Allow importing route function (and data) instead of storing them globally"
I love the idea of this package.  I just wish it didn't pollute the global window namespace.  Ideally, I would be able to simply `import { route } from 'ziggy';` in my JS (e.g. Vue component or whatever), and it would automatically pull the data in with it, either from a locally-cached JSON file or even an API call.

It might even be possible to limit the included routes to those that are actually

[2017-08-11 00:21] mattstauffer commented on #24
Hey @hackel! The way we are imagining this is here: https://github.com/tightenco/ziggy/issues/22 would that solve for your use case?

[2017-08-11 01:01] mattstauffer commented on #22
@ctf0 Same issue. It's easy enough (although requires you to allow them to customize WHICH files are the routes files) to have PHP *check* a route file to see if it has changed since the last time it was checked.

But what's not built in to Laravel--other than in Elixir/Mix, which *already have tooling for this*--is watching files for modifications.

Don't stress. This is actually going to be rela

[2017-08-11 06:16] ctf0 commented on #22
i will work on something today to test the `filemtime` theory , will send a PR once its done.

[2017-08-11 10:58] filjoseph1989 opened #26 "Return localhost instead of the contigured domain in virtual host"
Hi I tried this package, but during the implementation of the helper function route() it returns http://localhost/..

For Example
[code]
the expected output should be
`http://liz.dev/users/org-adviser/get/event`

the return instead is
`http://localhost/users/org-adviser/get/event`

[2017-08-11 11:31] ctf0 opened #27 "error when redirecting to a root route '/'"
atm if u tried to redirect to the root route ex.`home => /` you will get an error cuz now the url will be
`something.dev//`

[2017-08-11 13:26] mattstauffer commented on #26
@filjoseph1989 The app is using Laravel's `app.url` config setting, which is filled from your `APP_URL` key in your `.env` file. Check that and see whether you have it set to `localhost` instead of `liz.dev`.

https://github.com/tightenco/ziggy/blob/master/src/BladeRouteGenerator.php#L20

[2017-08-11 14:27] davi5e commented on #26
@mattstauffer That worked for me!

I was just wondering if this wouldn't be better solved if the package were to detect the URL the same way Laravel does (as in Laravel's route() facade, which never fails)

[2017-08-11 15:40] JesseLeite opened #28 "Readme gif/example is wrong?"
Is it something I am doing, or is gif and code example wrong with `{id: 123}` the ID as key?

![](http://b3.ms/KkdA3J5v93Jq)

[2017-08-11 15:44] mattstauffer commented on #28
@JesseLeite what's your map? It matches the variable name; so I'm guessing you're doing this:

[code]

I think Laravel may actually ignore that variable name and instead expect just an array. We could potentially just add a second syntax where you pass an un-keyed array of values?

[2017-08-11 15:44] mattstauffer commented on #28
(that is: the readme assumes this instead:

[code]

[2017-08-11 16:02] mattstauffer commented on #26
Huh. Good point. Let me see where we can go there. :)

[2017-08-11 17:12] JesseLeite commented on #28
@mattstauffer Neither

[code]

Standard Laravel resource route/controller, which automatically creates resource names like:

![](http://b3.ms/lrXMDX1kMb1j)

With your approach, how would you handle nested resource routes like this?

[code]

Since you can't use `{id}` twice for two different model resources?

Btw, I realize your package works perfectly.  I'm just saying the docs aren't clear if you

[2017-08-11 17:14] JesseLeite commented on #28
Btw, I love the unkeyed array approach as well, since Laravel's route works that way in PHP ...if anything, for consistency with Laravel 👌

[2017-08-11 17:14] mattstauffer commented on #28
@JesseLeite AH! Yah, I think it should be *clearer*--but I also think that the whole using keys thing is problematic in the first place, because Laravel's route helper *doesn't use keys* if I remember correctly.

I'll write it up a bit more shortly.

[2017-08-11 17:23] JesseLeite commented on #28
Yeah, I think you are on right track with allowing non-keyed array, though it could be added functionality in case people want to be super explicit with keys for whatever reason?

In Laravel, I've always passed in raw IDs (without keys):

[code]

Or passed in models, as Laravel is smart enough to resolve the IDs:

[code]

[2017-08-11 18:26] JesseLeite commented on #28
I just PR'd in a possible implementation for the unkeyed array idea.  See #30.

[2017-08-11 22:15] DanielCoulbourne commented on #16
@mikemand and @ctf0

Okay I have a compromise for you guys. I don't like publishing a config file by default, but I don't mind having an optional config file.

What if we publish all routes by default, then add support for optional `config('ziggy.whitelist')` and `config('ziggy.blacklist')` settings.

That way average users who don't care won't have to worry about black/white-listing routes, but i

[2017-08-11 22:16] mikemand commented on #16
That sounds great to me. 👍

[2017-08-11 22:17] DanielCoulbourne commented on #16
Sweet! I'll try to get it implemented this weekend, unless someone beats me to the PR 🥇 😄

[2017-08-11 22:18] DanielCoulbourne commented on #27
Great catch. Thanks!

[2017-08-11 22:25] DanielCoulbourne commented on #24
@hackel as of now you can actually pull in the `route()` function, as it's included (and exported) in `src/js/route.js`

It doesn't have a good way to get the data yet, but we are seriously considering adding an endpoint to get it from ( 🙌 Issue #1 ) so I think what you want will be possible very very soon 😄

[2017-08-11 22:27] DanielCoulbourne commented on #24
I do agree about the global namespace. I think namespacing the data to `ziggy` is probably a good idea. I don't want to remove the `route()` function from the global namespace just yet, but I could probably be convinced.

[2017-08-11 22:31] DanielCoulbourne commented on #28
Thanks so much for your PR @JesseLeite.

I really like the "whole object" approach and @calebporzio and I just discussed it on our podcast. I just can't see the way to make it work right now.

I would be thrilled to be wrong though

[2017-08-11 23:02] JesseLeite commented on #28
@DanielCoulbourne the whole object approach could work, but I agree it would be more complex.

I think Illuminate Models have a `getkey() // returns 'id'` method or something similar.  It would be cool to piggy back off of that somehow.  The weird part is that each model could technically have a different primary key field name, so getting a list of those for each model would be awkward.  I'm not

[2017-08-12 16:55] ankurk91 opened #31 "Optional parameters not supported"
Hi,

* ziggy : v0.2.2
* Laravel: v5.4.30

`route()` method throws error if [optional](https://laravel.com/docs/5.4/routing#parameters-optional-parameters) parameters not passed
[code]
[code]

[2017-08-12 23:15] JesseLeite commented on #16
It might be cool to be able to add multiple groups of regexes as well.  For example, maybe your app has 3 different user roles:

- Admins (has access to all routes)
- Authors (has access to author and guest routes only)
- Guests (has access to guest routes only)

Furthermore, imagine you have 3 master layout files for each role (one for admin dashboard, one for author dashboard, and another for al

[2017-08-13 08:08] ctf0 commented on #16
@JesseLeite a simpler approach would be adding a filter on the route groups like [laroute](https://github.com/aaronlord/laroute#ignorefilter-routes), and a middleware to check the filter and generate the js routes accordingly.

[2017-08-13 15:33] brunen9 opened #34 "May you add support of querystring?"
Hello. May you add support of querystring in route url? I mean something like this: `example.com/search?critter=bunny&gender=female&temperament=rabid&size=large&color=red`

[2017-08-13 21:39] mattstauffer commented on #34
Great idea! It's very possible with the current syntax although it (obviously) wouldn't work with the array syntax that's currently open in a pull request. I think that's true of laravels core route service as well so that'll be fine. Good thinking!

[2017-08-13 22:52] JesseLeite commented on #16
@ctf0 ah interesting.  I like that implementation as well!

I have to say though, I work on one application where we have hundreds of routes.  A regex in a config might be a lot simpler for us, though obviously not as granular as laroute's implementation.  Curious where Ziggy will go with this :)

[2017-08-13 23:14] benabbottnz opened #35 "Ziggy banner in README.md has lowercase "s" in JavaScript"
Sorry to be pedantic.

[2017-08-14 00:11] mattstauffer commented on #35
Not at all. Drives me nuts too. Noticed it and thought I fixed it. We will get it tomorrow.

[2017-08-14 10:02] lindyhopchris commented on #24
+1 on this, I'm using Ember.js for my frontend so would be great to be able to include this as a dependency via yarn and import as a module.

[2017-08-14 12:12] the94air commented on #27
Is it solved yet?

[2017-08-14 15:41] mattstauffer commented on #16
In case y'all weren't thinking this, I'd consider using Laravel's regex matcher that allows for shortcuts like "api.*"" -- the thing that is sourced by "Str::is"

[2017-08-14 16:26] DanielCoulbourne commented on #35
Good call. We'll fix it thanks

[2017-08-14 16:28] DanielCoulbourne commented on #31
Good call. I'll try to get this fixed soon.

[2017-08-14 16:42] stevebauman commented on #16
Definitely looking forward to this, as I'm only looking to expose my API endpoints in JavaScript.

Just a suggestion instead of a config file, there's also the option of actually calling upon a `Ziggy` class and a static function in our `AppServiceProvider`? As an example:

[code]

[2017-08-14 21:29] DanielCoulbourne commented on #16
Thanks for the input all. At this point I am implementing the [optional config version](https://github.com/tightenco/ziggy/issues/16#issuecomment-321930652) of this feature with the option to support [Laravel's nice string wildcards](https://github.com/laravel/framework/blob/5.4/src/Illuminate/Support/Str.php#L141).

Once this is implemented we can talk about extending the functionality with these

[2017-08-14 21:48] m1guelpf opened #36 "Make it possible to hide some routes"
Example: I want to use this in my application, but I don't want to show the /admin/* routes exist

[2017-08-14 23:15] DanielCoulbourne commented on #36
Hey @m1guelpf!

This is my most requested feature and I'm actively working on it. Should ship today or tomorrow.
You can check out the active discussions over at #16

I'm closing this issue as a dupe for now, but if you go follow that issue you should get notified when I push the new release. I'll probably tweet about it too so you may see it there.

Thanks for the support of the package AND the p

[2017-08-14 23:15] #36 closed

[2017-08-14 23:27] DanielCoulbourne commented on #28
I think this can be closed now?

[2017-08-14 23:27] #28 closed

[2017-08-14 23:49] DanielCoulbourne commented on #24
@lindyhopchris unfortunately I have no plans of making Ziggy an NPM package as of now since maintaining separate NPM and Composer packages with dependencies on each other sounds like a versioning nightmare 😢

I may try to come up with a solution for easily including JS from the Composer package in NPM projects, but it's a relatively low priority as of now. I'm open to pull requests though if you h

[2017-08-14 23:49] #24 closed

[2017-08-14 23:52] JesseLeite commented on #34
@mattstauffer I think it could work with array syntax, very similar to how it does in PHP/Laravel:

[code]

And in JS:
[code]

It's not as ideal as PHP array syntax, but I'd gladly work on a PR if you like that implementation?

[2017-08-14 23:54] DanielCoulbourne commented on #34
I think this should probably be a separate argument from the existing route params.

For example a route like this:
[code]

Could be expressed like this:
[code]

[2017-08-15 00:04] JesseLeite commented on #34
I only disagree with the separate argument, because it's inconsistent with Laravel's `route()` (which already has a 3rd parameter [that does something different](https://github.com/laravel/framework/blob/5.4/src/Illuminate/Foundation/helpers.php#L707)).

Laravel is smart enough to count the required params, and treat all extra passed params as query string params.  What if Ziggy was smart enough t

[2017-08-15 00:57] JesseLeite commented on #28
Haha!  Not so brilliant, but it's something 😬: https://github.com/tightenco/ziggy/pull/37

[2017-08-15 02:50] #16 closed

[2017-08-15 03:25] #27 closed

[2017-08-15 04:05] DanielCoulbourne commented on #35
😄

[2017-08-15 04:05] #35 closed

[2017-08-15 04:07] #19 closed

[2017-08-15 04:50] lindyhopchris commented on #24
@DanielCoulbourne no problem, totally understand!

[2017-08-15 06:12] mattstauffer commented on #34
Jesse, the problem is that the example you have is not the same as that array in Laravel.

Daniel, that's one option but it's distinctly different from how Laravel handles it so just be cautious. :)

[2017-08-15 13:18] JesseLeite commented on #34
Yeah @mattstauffer good point, that is true it's not consistent.  I was thinking about this though, and there two competing aspects that ideally would benefit from more consistency with Laravel's `route()` function:

- 2nd argument consistency (for the route params to feel like Laravel)
- 3rd argument consistency (for the absolute param to feel like Laravel)

However, because of the differences be

[2017-08-15 17:39] DanielCoulbourne opened #42 "Test in Laravel 5.5"
I think we should be okay, but I saw some changes to `getRoutesByName()` so I may need to change some things for Laravel 5.5.

Anyone have a good versioning strategy to have a LTS version that works with 5.4?

[2017-08-15 23:28] JesseLeite commented on #42
What about detecting laravel/framework version at runtime via something like `app()->version()`, and handling both implementations in the same master branch?  This way Ziggy users won't have to think about syncing a Ziggy version with laravel/framework?

[2017-08-16 11:26] ctf0 opened #43 "add config publish option"
i don't think using `php artisan vendor:publish --provider="..."` is harder and more time consuming than creating the ziggy config file manually.

[2017-08-16 18:23] DanielCoulbourne commented on #43
I am less opposed to this than I initially was, but I'm still not totally sold.

I think people see a command in the documentation and they want to run it. Adding a `vendor:publish` to a repo makes it feel like an extra step to getting started, even though it is optional.

I'm also not sold on the idea that running an artisan command is easier than just creating a php file.

Sorry for being a stic

[2017-08-16 18:24] DanielCoulbourne commented on #43
Leaving this open to hear more opinions from the community. I'm fine with being wrong about this.

[2017-08-16 19:44] mattstauffer commented on #43
I don't love config files. But, in not liking them, I only publish them when i need them. I'm not sure whether I agree that people will just run it because it's there? I'm torn because i'm not 100% sure that it's better--if you hate it, you hate it, and it's really not that hard for people to make it themselves. So you don't *have* to. No question. But I just want to push back on the part of it th

[2017-08-16 20:13] Robert-Hansen opened #44 "Laravel Modules Design?"
Hi
I just started to use a Laravel Modules because I like it better than the normal folder structure so my question is does this work with https://github.com/nWidart/laravel-modules ?
I haven't tried it myself just yet been busy doing some other stuff so if someone knows if it works please let me know other than that keep up the good work! ;)

Regards

[2017-08-16 20:31] Robert-Hansen commented on #44
I just tried it and it works so if anyone else uses the laravel-modules package it works ;)

[2017-08-16 20:31] #44 closed

[2017-08-16 20:33] DanielCoulbourne commented on #44
Nice! Thanks!

[2017-08-17 01:49] JesseLeite commented on #34
@mattstauffer @DanielCoulbourne Curious on your thoughts of my array syntax suggestion, would you accept a PR with that implementation?  Or would you prefer the use of object syntax with forced keys if they have extra query string params to append?  Or maybe both?

Either way, I think I feel pretty strongly about reserving the 3rd param for `absolute`, to stay as consistent with Laravel as possibl

[2017-08-17 10:25] dbonner1987 opened #45 "Macro implementation"
Following up from my post on twitter yesterday (https://twitter.com/dbonner1987/status/889252632023490564) and my adventures down the rabbit hole with the routing system in Laravel.

I'm now using just a single `Route::macro` implementation that will add filtering to routes. Security through obscurity is not smart but I got a bee in my bonnet and became a bit engrossed in getting a macro working c

[2017-08-17 10:39] ankurk91 commented on #43
We love command line.
It would be great if artisan can copy a sample config file from `vendor` to project `config` folder.

[2017-08-17 13:59] zackify opened #46 "Remove default parameters or setup babel?"
https://github.com/tightenco/ziggy/blob/8962ad96cda7daedd76bf9268861112b613d6063/src/js/route.js#L1

[Default params](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters) only work in modern browsers. For this to work in IE 11 or anything else before es6 you might want to use babel, or just remove the default params and add a check at the top of the funct

[2017-08-17 14:11] ankurk91 commented on #46
May be generate a minified version along.

[2017-08-17 16:09] mattstauffer commented on #46
That's totally my fault. I'd rather not introduce babel just for this. I'll update. Thanks @zackify!

[2017-08-17 16:52] stevebauman opened #48 ""Cannot read property 'domain' of undefined" - Error when using put/patch/delete routes"
This only occurs when using a put/patch/delete route.

For example:

### Works:

[code]

### Does Not Work

[code]

![image](https://user-images.githubusercontent.com/6421846/29423654-8909dd42-834a-11e7-980b-b8cfecb8e7e9.png)

Fails here:

https://github.com/tightenco/ziggy/blob/master/src/js/route.js#L2

[code]

[2017-08-17 16:54] #48 closed

[2017-08-17 16:55] stevebauman commented on #48
My mistake, calling non-existent routes. Whoops! Lol

[2017-08-17 18:29] afigienas opened #49 "Small helper to get current route name in js"
Would be great to have current route name in javascript. It is helpful, when need to check if current page is

[2017-08-17 18:55] DanielCoulbourne commented on #49
This is a great idea. I need to think about the syntax a bit though.

[2017-08-17 18:56] DanielCoulbourne commented on #46
I think we will eventually end up adding Babel as the Javascript becomes more in-depth, but I agree, lets hold off for now.

[2017-08-17 18:58] zackify commented on #46
@DanielCoulbourne if you want I could send a pr that adds minimal stuff and a precommit hook that builds it. It's whatev you want bro

[2017-08-17 19:01] DanielCoulbourne commented on #45
Hey! Thanks for the issue. I'll be knocking out a ton of maintenance stuff tomorrow so I'll have more in-depth thoughts then.

Does this work with groups?

[2017-08-17 21:27] #46 closed

[2017-08-18 01:44] ankurk91 commented on #46
Params still have a default value set to `{}`.

[2017-08-18 01:45] mattstauffer commented on #46
uhguhghghghghghgh
thanks totally did not notice lol

[2017-08-18 02:28] DanielCoulbourne commented on #34
Hey man sorry I haven't gotten back to you. I'll take a good look in a few minutes

[2017-08-18 02:53] JesseLeite commented on #34
No rush!

[2017-08-18 06:43] DanielCoulbourne commented on #34
Okay I'm still not 100% sure.

My two favorite options so far are
`route('events.venues.show', [event, venue, queryStringParams])`
and `route('events.venues.show', [event, venue], queryStringParams)`

I think your first version is fine but it is a breaking change and starts to add complexity for the most basic use-case. Basically I don't want people who are just picking up the project to have a mo

[2017-08-18 08:38] dbonner1987 commented on #45
Unfortunately groups are a different story. Because the group doesn't receive any information from the closure, we can't get the names from the actual routes. I'm forcing myself to not extend the Router, so I'm thinking about swapping the Router instance in and out with an anonymous class that extends the router when blacklisting is required. Haven't had a chance to implement it yet.

Another opti

[2017-08-18 12:39] JesseLeite commented on #34
[code]

^ That version is breaking change?  I thought the function just ignored extra params if it didn't need them in the route?

I absolutely love this!  I briefly thought it would be cool to chain a new method on, but didn't realize you could toString in JS 👌 👌 👌  Okay I'm going to leave this one to you :)

[2017-08-18 13:18] calebporzio commented on #49
That would be super handy!

[2017-08-18 13:20] calebporzio commented on #49
Or just a function that checks the route name. Like `route()->is('post.show')`

[2017-08-18 17:16] DanielCoulbourne commented on #34
Yeah you're right it isn't "breaking" I was super tired haha.

But yeah I think the fluency is the way to go.

[2017-08-19 00:44] JesseLeite commented on #43
I rarely use it, but always like seeing sample configs in vendor folder.  Apparently Taylor recently made `artisan vendor:publish` less intrusive, as it now asks `Y/N` before publishing each file I think?

[2017-08-20 20:50] DanielCoulbourne commented on #31
Closed by #33

[2017-08-20 20:50] #31 closed

[2017-08-21 07:32] ankurk91 opened #56 "Throw error when route name not found in list"
Hi, again

Ziggy should throw an error when `name` not found in `namedRoutes` list.

[code]

[2017-08-21 21:42] heisjj opened #58 "'composer require' not installing actual 0.3.0"
I attempted to use the filter groups, but discovered that 'composer require tightenco/ziggy' isn't pulling the same v0.3.0 that is listed on GitHub (it's pulling an earlier version that is listed as 0.3.0). Can you correct this? Thanks!

Side note, in the docs, you say to use @route('author'), but you may want to correct that to @routes('author'), to avoid confusion.

Thanks a bunch!

[2017-08-21 22:04] Robert-Hansen commented on #58
where do you get the 0.3.0 version from? I can only see the 0.2.3 version as the latest

[2017-08-21 22:05] Robert-Hansen commented on #56
@ankurk91 i just added the fixes for that in my currently PR take a look at it here #57

[2017-08-21 22:56] heisjj commented on #58
@Robert-Hansen
https://packagist.org/packages/tightenco/ziggy
and
https://github.com/tightenco/ziggy/releases

[2017-08-21 23:40] Robert-Hansen commented on #58
@heisjj  I just downloaded it and the package.json still says 0.2.3 so I guess he didn't update the version so if you have 0.2.3 you are running the latest release

[2017-08-22 03:59] DanielCoulbourne commented on #34
Done and Done!

[2017-08-22 03:59] #34 closed

[2017-08-22 04:03] DanielCoulbourne commented on #49
Now that we have fluency I think the way to handle this would be

[code]

I'd accept a PR adding this functionality in a heartbeat, otherwise I'll add it myself later this week.

[2017-08-22 04:04] DanielCoulbourne commented on #45
@dbonner1987 If you want to PR this I think I'm okay with it.

[2017-08-22 04:04] #45 closed

[2017-08-22 04:05] DanielCoulbourne commented on #56
Merged that PR. Thanks!

[2017-08-22 04:05] #56 closed

[2017-08-22 04:11] DanielCoulbourne commented on #58
The package.json was out of sync with the composer package version. My bad, although nobody will be installing via NPM so not that big of a deal.

The reason you haven't seen a lot of the recent work in the stable version is that I just haven't tagged a release yet. Planning to tag all the recent changes from this week in a 0.3.1 tomorrow.

[2017-08-22 04:11] #58 closed

[2017-08-22 04:14] DanielCoulbourne commented on #43
Okay fine.  😛
I'll merge a PR with an artisan vendor publish. Probably won't include it in the docs for now. Just there for an example config.

If you PR, please write up a nice little comment for each config option for inline documentation.

[2017-08-22 04:14] #43 closed

[2017-08-22 05:04] DanielCoulbourne opened #61 "Refactor Test Suite and Tag v0.4.0"
I'll tag all the recent changes as soon as I get a little refactoring done on the test suite so I have super confidence that everything is working as expected. Probably tomorrow night.

😄

[2017-08-22 09:04] JesseLeite commented on #61
Not big enough for 0.4.0?  Major.Minor.Hotfix?  🙂

Also I think the absolute param got broken, but we have no test to cover this: see https://github.com/tightenco/ziggy/pull/57#pullrequestreview-57661810

[2017-08-22 12:39] Robert-Hansen commented on #61
@JesseLeite I removed the if(this.absolute) with else, just for testing purposes to see if it did break any of the tests, it didn't break any. I forgot to change it back, so we can just make a new PR to change it back the way it was before, we need to make some test scenarios first to make sure it all works.

[2017-08-22 15:03] DanielCoulbourne commented on #61
Haha thanks guys. @JesseLeite Yeah I guess we should just go big or go home and call this a point release.

[2017-08-22 15:13] Robert-Hansen commented on #49
@DanielCoulbourne I'm currently trying to work on the route helper i already got the route().current() working it will return the current route you are on so far it seems to work fine but still need to tweak it and make some tests now i just need to make the other feature work with the route().current('posts.index') ;)

[2017-08-22 15:27] DanielCoulbourne commented on #49
Awesome! Excited to see it! And thanks!

[2017-08-22 20:33] pyaesone17 opened #62 "Not working well with optional route parameter"
Route::get('user/{name?}', function ($name = null) {
    return $name;
});

Here name is optional but route() function ask to put "name?".

[2017-08-22 20:39] Robert-Hansen commented on #62
can you show me you javascript code you are trying to use?

[2017-08-22 20:46] DanielCoulbourne commented on #62
@pyaesone17 If you are using v0.3.0 (current stable) then optional params are not yet supported. They are supported in the current-dev which should be tagged as a stable release tonight.

[2017-08-22 21:34] DanielCoulbourne commented on #62
Closing for now. Please re-open if this wasn't a versioning issue.

[2017-08-22 21:34] #62 closed

[2017-08-23 02:24] #61 closed

[2017-08-23 10:37] pyaesone17 commented on #62
@DanielCoulbourne Thanks for your response. I will check a new version when release.

[2017-08-26 09:54] Naxon opened #67 "Optional parameters issue"
Hi,

I small issue I bumped in today: I have the following route:
[code]

When trying to use it with Ziggy, even when sending the `season` parameter, it expects me to send it as `season?` (and it actually works when sending it as `season?`!). When not sending the `season` parameter I'm getting the very same error.

[2017-08-28 02:50] DanielCoulbourne commented on #67
Thanks! I'll look into this.

[2017-08-30 16:36] dbonner1987 commented on #45
@DanielCoulbourne Excellent, hoping to get a look at implementing it over the weekend.

[2017-08-30 16:38] DanielCoulbourne commented on #45
Awesome! It looks like a great, viable, idea.

[2017-09-01 14:24] stevebauman commented on #42
Works fine for me in Laravel 5.5 :)

[2017-09-02 23:42] dbonner1987 commented on #45
@DanielCoulbourne an initial implementation of the Macro: https://github.com/dbonner1987/ziggy/commit/283396aafa30e90386fe056d8c62e9a059c6b9dc

I'm not entirely happy with it at the moment, it requires too many different parts to be completely flexible and work across the routing system. For instance, the following route declarations require a different check in the macro. Tests pass, but it feels

[2017-09-02 23:44] DanielCoulbourne commented on #45
@dbonner1987 Could you open a PR to this repo but just add `[WIP]` to the name so I know it's in progress? That way I can look over a diff and we can keep discussion inside this repo so other contributors can get involved?

Thanks so much!
-DC

[2017-09-02 23:58] DanielCoulbourne commented on #42
Sweet! I'll run a few more tests myself then close this.

[2017-09-03 00:24] dbonner1987 commented on #45
Sounds like a plan. Will get it done tomorrow – calling it a night.

Cheers.

On 3 Sep 2017, 00:44 +0100, Daniel Coulbourne <notifications@github.com>, wrote:

[2017-09-04 05:25] the94air opened #69 "Ziggy v0.4.0 & v0.4.1 returns an object instead of string"
I tried Ziggy in Laravel 5.5 and it is returning an object instead of the full URL of the route like so
[code]

[code]

[2017-09-04 23:05] mgsmus commented on #69
Same situation here, returning object instead of string. Also _@routes_ doesn't work without parentheses anymore. I changed from _@routes_ to _@routes_**()** and it works now.

[2017-09-05 08:30] the94air commented on #69
This issue is effecting Laravel 5.5. I wish we can solve it as fast as possible. My work all most stopped. I have tons of ajax calls. I am not attended to restore them with static URL ( It's a pain :sob: ). I don't know what to do.

[2017-09-05 13:06] stevebauman commented on #69
@mgsmus, I'm using `@routes` annotation with Laravel 5.5 without issue. That's strange?

@the94air Right now you can use a computed property that will automatically call `toString()` for you with the route, for example:

[code]

[2017-09-05 14:22] simensen opened #70 "How do I use the `route` function in a compiled Vue component?"
I'm using the following code:

[code]

But I get the following error in console:

![image](https://user-images.githubusercontent.com/191200/30065751-83cb7176-921b-11e7-880a-6cef790256f2.png)

Note that both `route` and `namedRoutes` exist. I have `@route` above the `app.js` line in my layout.

[2017-09-05 14:31] mgsmus commented on #69
Strange indeed. If I use _@routes_ without parentheses, it's just prints _@routes_ in html source. I'm testing on fresh 5.5 installation.

[2017-09-05 14:38] stevebauman commented on #69
@mgsmus Though I'm using Ziggy in an upgraded 5.4 application... Hey yet tried with a fresh instance...

Let me debug further...

[2017-09-05 14:41] stevebauman commented on #70
I experience this issue right now.

You have to use computed properties to utilize the `route()` method in your components.

It seems Vue inits faster than the route helper or something? I'm not a very experienced JS dev so I'm not sure why it doesn't register when it's above my main app script.

I hope this is changed in the future so we can compile it with the rest of our components.

[2017-09-05 14:47] simensen commented on #70
@stevebauman Great, thanks. I decided to use a function instead as that appears to work OK:

[code]

...

[code]

Indeed, it would be nice to be able to use this the other way, though. I can keep this issue open as a feature request or I can close it. I'm happy that I have a solution now.

[2017-09-05 16:04] DanielCoulbourne commented on #69
@the94air are you sure this is a laravel issue? I think you may have possibly been using an older version of Ziggy and updated the Ziggy version at the same time you upgraded Laravel.

[2017-09-05 16:08] DanielCoulbourne commented on #69
Could all three of you let me know which Ziggy version you are running? @stevebauman @mgsmus @the94air

[2017-09-05 16:42] stevebauman commented on #69
@DanielCoulbourne I'm using the most current release (`v0.4.1`).

[2017-09-05 16:42] the94air commented on #69
I am using `"tightenco/ziggy": "^0.4.1"` with a fresh Laravel app.

[2017-09-05 17:40] the94air commented on #69
The same thing in a fresh Laravel app. but I got the same results using @routes (with and without parentheses) in:
OS: windows 7
PHP: 7.1.4 ( XAMPP )
Laravel: 5.5.2
Ziggy: 0.4.1

[code]

[2017-09-05 18:02] the94air commented on #69
@DanielCoulbourne it will return the normal URL without a problem in all cases. Please check if is returning string or an object. Thanks.

[2017-09-05 18:31] the94air commented on #69
@DanielCoulbourne You where right, It is not a Laravel issue

[2017-09-06 02:58] ankurk91 commented on #70
It is vue.js issues, when you directly pass global method in prop, vue thinks that this is local method and throw error when not found within component.

[2017-09-06 03:00] DanielCoulbourne commented on #70
Yeah I imagine passing window.route() would work as well. Maybe we should add a config option to import the module in the traditional es6 way

[2017-09-06 04:02] ankurk91 commented on #69
This has been discussed earlier #64

[2017-09-06 18:14] stevebauman commented on #70
Definitely interested in ES6 module :)

[2017-09-10 14:15] nWidart commented on #69
I've got the same issue here.

[2017-09-10 14:46] the94air commented on #69
For now just use Ziggy v0.3.0 . It may take a bit more time to solve.

[2017-09-10 20:27] mgsmus commented on #69
I have created the project from scratch. Laravel version 5.5.3 and ziggy is v0.4.1 and eveything seems ok. Don't know what was affecting to blade directive.

[2017-09-10 20:42] nWidart commented on #69
hm strange i'm also on latest laravel & ziggy and it's returning the object.

[2017-09-10 20:52] mgsmus commented on #69
@nWidart it returns object if I test it like `console.log(route('index'));` but if I use like that:

[code]
it returns string as expected (@stevebauman [mentioned](https://github.com/tightenco/ziggy/issues/69#issuecomment-327169240)) and I can see the html response in console.

My problem was the blade directive. It wasn't work without parentheses but it works now.

[2017-09-11 06:04] the94air commented on #69
@mgsmus Do you have `ziggy.php` config file in your app?

[2017-09-11 17:25] DanielCoulbourne commented on #69
Sounds like @mgsmus is fine now?

@the94air I've been on vacation for like a week but i'm back around now. I'd love to work with you to see what your issue is?

[2017-09-11 19:58] #69 closed

[2017-09-11 20:34] nWidart commented on #69
I don't see a recent release/commit. Was this fixed?

[2017-09-11 20:48] the94air commented on #69
Finally... welcome back. Hope you enjoyed your vacation :smile:.
I have this resources route
[code]
And in my ajax call I have
[code]
Any thing works perfectly in v0.3.0. And it returns
[code]
But in v0.4.0 & v0.4.1 it returns
[code]

[2017-09-11 21:29] the94air commented on #69
@nWidart No, not yet.

[2017-09-12 14:35] DanielCoulbourne commented on #69
@the94air I will try to duplicate that myself later today.

[2017-09-12 16:01] the94air commented on #69
Great :+1:

[2017-09-13 00:30] DanielCoulbourne commented on #69
I closed it for two reasons:

1) the issue mentioned in the title is not a bug, it is expected behavior
2) the discussion has brought up several more problems, which are not the same as the title.

As soon as I duplicate the bug you mention relating to `http://ziggy.dev/admin/admin/courses`, I'll open another issue for that. As of now I think this discussion is probably confusing to newcomers.

[2017-09-13 00:55] DanielCoulbourne commented on #69
@the94air I am thusfar unable to duplicate your issue.

Here's a screenshot of a fresh Laravel install with Ziggy 0.4.1
<img width="1394" alt="screen shot 2017-09-12 at 8 54 56 pm" src="https://user-images.githubusercontent.com/429010/30354785-be11e450-97fc-11e7-9f63-42f587f182ef.png">

[2017-09-13 08:02] the94air commented on #69
It's not a Ziggy issue. It's just me being foolish as Datatable it will prepend the URL with `http/ziggy.dev/admin` and ziggy will return `/admin/courses` causing `http/ziggy.dev/admin/admin/courses`
Thanks for help and sorry for wasting your time.

[2017-09-13 08:11] DanielCoulbourne commented on #69
Oh makes sense. No problem glad you got it sorted.

[2017-09-14 06:10] pyaesone17 opened #72 "Old browser doesn't support default parameter."
params = {};
the line breaks the support for old browser.

var route = function(name, params = {}, absolute = true) {
--
  | var domain = (namedRoutes[name].domain \|\| baseUrl).replace(/\/+$/,'') + '/',
  | url = (absolute ? domain : '') + namedRoutes[name].uri.replace(/^\//, ''),
  | params = typeof params !== 'object' ? [params] : params,
  | paramsArrayKey = 0;

[2017-09-14 06:30] pyaesone17 commented on #72
It is edited on new version sorry.

[2017-09-14 06:30] #72 closed

[2017-09-14 20:35] #42 closed

[2017-09-17 01:27] JagDogWeb opened #73 "Default parameters"
9/10 of my api calls begin with the selected sport ie `sports/{sport}` which means I am having to repeat adding the current sport in all my axios calls.

Is there a way to provide a default params list which can then be added to with the route() function?

[2017-09-20 07:46] olimorris commented on #70
@DanielCoulbourne FYI I came to use Ziggy for the specific purpose of what @simensen had posted. I modified slightly:

[code]

so I can do:

[code]

More than happy to create a pull request to your readme. I'm not a VueJS expert so I have no idea whether the above is considered good practice.

[2017-09-20 17:16] DanielCoulbourne commented on #70
@olimorris Any reason not to just do
[code]
And skip the intermediate step?

[2017-09-21 12:39] olimorris commented on #70
@DanielCoulbourne with Vue 2.4.4 it throws this error:

[code]

From that I deduced that I needed to add an intermediate step and hence the method in my Vue object. I guess you could always include a seperate Vue component for people to use within Vue which references `route`.

[2017-09-22 07:37] xandor opened #74 "Routes within a domain group do not work correctly"
## Missing Protocol

When using routes in a domain group, the domain is added by the js route() function, but there is no protocol attached, so the url returned is incorrect.

in web.php

[code]

in blade/js

[code]

## Missing Port

Another thing is that if Laravel is running under example.org:81 the php route() function adds the :81 to the url, if its the current domain.

If the current URL is '

[2017-09-23 00:38] DanielCoulbourne commented on #74
Thank you for the excellent bug report!

I will address these soon!

[2017-09-23 01:28] DanielCoulbourne commented on #74
Just saw your PR. I’ll review and hopefully merge it this weekend.

[2017-09-25 10:00] DanielCoulbourne commented on #70
Gotcha. Thanks! I'm mostly a react guy so it didn't occur to me. I'll consider making an includable Vue component. If you have an example of how you'd want it implemented I'd love to see what you're thinking.

[2017-09-25 10:11] DanielCoulbourne commented on #74
#75 Should be ready to merge after some minor changes.

[2017-09-26 15:12] Vasiliy-Bondarenko opened #76 "Blacklist after white"
it would be nice to have blacklist applied after whitelist.
this config
[code]
suppose to expose all 'api::*' except for 'api::admin*'. but now i get just all whitelisted without exceptions.
or the other idea - to make lists include sub-lists. like
[code]
by the way - great package! :)

[2017-09-28 17:09] DanielCoulbourne commented on #76
Thanks!

The issue is that, while it seems intuitive for your situation to have blacklist go after whitelist, there are just as many situations where someone might want to do the opposite.

Ideally we would just work down the list from top to bottom for each route but so far that has seemed kind of daunting to me and I'm afraid it might be a bit slow.

If you're up to a PR I wouldn't mind trying i

[2017-09-29 06:24] gandesc opened #77 "align route.js Router object structure with Vue's router.push parameter"
First off, awesome package!

As a suggestion, would you consider aligning the structure of the Router object with that of the object parameters that [Vue Router's push method](https://router.vuejs.org/en/essentials/navigation.html) takes (attribute names)?

I realize that ziggy is front-end-framework agnostic, but I would think most developers are using Vue, especially since it's promoted by Larav

[2017-09-29 13:47] xandor commented on #74
sorry i am a little bit under load at the moment, maybe can have a look this weekend.

[2017-09-30 20:23] nWidart commented on #69
Hm so it's normal that the `route()` sometimes returns an object or a string?

[2017-09-30 20:31] DanielCoulbourne commented on #69
It always returns an object which extends the String literal.

[2017-09-30 22:13] DanielCoulbourne commented on #77
I’ll look into this a bit tomorrow

[2017-10-03 02:53] filjoseph1989 opened #78 "Ziggy Error: "" key is required for a route"
This is my actual code in javascript
[code]
and I'm using the resource controller in laravel 5.5

but I got this error

Ziggy Error: "User" key is required for route "User.edit"

In your code;
[code]
It point to this part
`throw 'Ziggy Error: "' + key + '" key is required for route "' + name + '"';`

[2017-10-04 21:01] DanielCoulbourne commented on #78
Thanks for the report. I have 20% time coming up friday when I'll knock out this and a bunch of other issues

[2017-10-04 21:01] DanielCoulbourne commented on #77
Hey there. Life has been crazy sorry I haven't touched this yet. I'll be around Friday to play ball.

[2017-10-06 19:17] stevebauman commented on #70
@DanielCoulbourne If you create an ES6 module then we could simply attach the module to our global Vue instance using:

[code]

In our components:

[code]

[2017-10-06 19:47] DanielCoulbourne commented on #70
@stevebauman Would you want to pair and talk though this sometime?

[2017-10-10 21:56] xandor commented on #74
Thanks for the merge

[2017-10-10 21:56] #74 closed

[2017-10-11 12:23] AidasK commented on #69
Objects as urls does not work with angular 1.x too.
`$http.get(route('index'))` -> request is sent to something like this `{name: ....`
`angular.isString(route('index')) -> false`

[2017-10-12 17:18] the94air commented on #69
@AidasK What about `route('index').toString()`? Does it return any thing?

[2017-10-12 17:55] AidasK commented on #69
Yes, it returns my route url. This is the solution I am currently using, but it's not short enough.

[2017-10-17 05:16] quickliketurtle commented on #22
Hello, Taking a stab at this.
I'm thinking the desired file would be something like this:
[code]

This way you could do something like `import * from './ziggy.js';` then you get access to `ziggy.baseUrl` for example.  And optionally include route.js separately instead appending the contents to the end of this file.

As a start to get this working I duplicated some logic from BladeRouteGenerator. I

[2017-10-18 03:43] squatto opened #79 "Object.assign() is not supported in IE"
I am unable to use Ziggy in IE, due to the [lack of support for Object.assign()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Browser_compatibility). When I attempt to use `route()` I get this:

<img width="489" alt="screen shot 2017-10-17 at 9 41 51 pm" src="https://user-images.githubusercontent.com/748444/31700068-11d19e76-b384-11e7-99c6-ea2f1fcc

[2017-10-20 04:30] quickliketurtle commented on #67
Hey @Naxon.
I'm having trouble reproducing this. Is it still an issue?

If so can you confirm that your route looks like this:
`"players.index":{"uri":"players\/{season?}","methods":["GET","HEAD"],"domain":null}`
and you are calling it like this:
`route('players.index', { season: "1" })`

Thanks.

[2017-10-20 14:53] ankurk91 commented on #79
I would suggest setting up babel with babel-plugin-transform-object-assign.
No need to setup webpack though, a npm script would be enough that will utilise babel click.

This we can leverage ES6 syntax in source.

[2017-10-20 18:03] DanielCoulbourne commented on #22
I like this as a temporary solution. Ideally I want to play a little more with Babel today but I'm going to merge your PR in the meantime. Thanks for the contribution.

[2017-10-20 18:03] #22 closed

[2017-10-20 18:05] DanielCoulbourne commented on #67
I also can't replicate as of now. Going to close this for now.

[2017-10-20 18:05] #67 closed

[2017-10-20 18:08] DanielCoulbourne commented on #77
I've done a little more looking into this and I don't think we want to restructure the params that much. At this point they are structured to be very close to Laravel's Route helper function and I don't want to sacrifice that to match Vue. Sorry.

[2017-10-20 18:08] #77 closed

[2017-10-20 18:08] #76 closed

[2017-10-20 18:28] quickliketurtle commented on #22
@DanielCoulbourne Cool. Glad it's useful, it was fun to work on. :-)

[2017-10-22 11:44] Ctaque opened #81 "route() helper returns object"
Hi,
The route helper is returning an object containing the route informations, i'm not able to generate a route. Am I missing something?

ps: I'm using ziggy version 0.4.1.
Iaravel v5.4.36
laravel-mix to compile react assets

[2017-10-22 11:50] #81 closed

[2017-10-22 11:50] Ctaque commented on #81
I was missing something.

[2017-10-23 00:27] MoraesGil opened #82 "Security Issue - hide window.namedRoutes"
I really love this package except by security when anyone can view all my routes using
window.namedRoutes

there one way to improve this security issue?

[2017-10-23 22:32] DanielCoulbourne commented on #82
How is this a security issue?

[2017-10-23 22:34] DanielCoulbourne commented on #82
I do not believe exposing routes is a security issue. Security should be handled on the server and should not be dependent on an attacker not knowing your routes.

If you still have routes you would like to keep from sending to Ziggy, you can use our optional [route filtering config options](https://github.com/tightenco/ziggy#filtering-routes).

[2017-10-23 22:34] #82 closed

[2017-10-23 22:36] DanielCoulbourne commented on #1
I'm going to close this issue. I would accept a PR for it, but it's not super related to current roadmap.

[2017-10-23 22:36] #1 closed

[2017-10-23 22:37] DanielCoulbourne commented on #73
I don't have any plans for something like that as of now. If you have an idea for implementation please feel free to open a new issue before opening a PR.

[2017-10-23 22:37] #73 closed

[2017-10-23 22:38] DanielCoulbourne commented on #78
Which version of Ziggy are you running?

[2017-10-23 22:39] DanielCoulbourne commented on #79
I am currently working on an ES6 translation and implementing babel. Once I do this I'll implement these polyfills.

[2017-10-23 22:42] DanielCoulbourne commented on #49
Did you ever finish this implementation @Robert-Hansen ?

[2017-10-24 20:05] the94air opened #85 "Any way to get the current route"
Any way to get the current route. It will be a nice functionality additional to ziggy routes.

[2017-10-24 21:03] the94air commented on #85
Oops, duplicate

[2017-10-24 21:03] #85 closed

[2017-10-24 22:51] the94air commented on #49
Very excited to get up and running with this feature.

[2017-10-27 07:34] the94air commented on #49
@DanielCoulbourne It has been 2 months. At least can you respond. @DanielCoulbourne Can you do it? Thanks.

[2017-10-27 07:40] DanielCoulbourne commented on #49
Yeah I think I can do that. hopefully tomorrow or this weekend. I wanted to see Robert's implementation but if he's too busy I'll try to knock it out tomorrow. It may make sense to wait until after the es6 conversion, which is my main task for tomorrow.

[2017-10-27 07:42] the94air commented on #49
Great :+1:

[2017-10-29 06:52] ankurk91 opened #88 "Proposal: lets not pollute global variables"
Hi,

Right now our Router class depends on these global variables
[code]
These variables are global and can be overwritten accidentally.
Recommended approach would be to namespace them, for example
[code]
Thanks.

[2017-10-29 07:17] DanielCoulbourne commented on #88
Agreed. 👌

[2017-10-29 07:28] #79 closed

[2017-10-29 08:26] #88 closed

[2017-10-29 09:43] DanielCoulbourne commented on #49
Just to keep you aware I wrote a version of this feature that broke in some pretty basic edge cases, so I'm going to harden it up a little later and hopefully get it done before Monday.

[2017-10-29 15:26] the94air commented on #49
@DanielCoulbourne For supporting the project I am thinking of making a small docs gh-pages for this package in vanilla ( html css js - not markdown) before the end of hacktoberfest. Are you OK with this?

[2017-10-30 07:55] #49 closed

[2017-10-30 07:56] DanielCoulbourne commented on #49
@the94air Done! Docs added to the readme.

[2017-10-30 21:42] gizburdt opened #92 "API on subdomain"
Hi,

In my app the api is on a subdomain: `api.example.com`. With Ziggy in Vue, the url is outputted as `http://example.com/api.example.com`. Do you maybe have a solution for this?

Thanks :)

[2017-10-30 22:06] DanielCoulbourne commented on #92
Hey!

Could you provide your routes file and the way you are using Ziggy within your app?

We DO support subdomains and you can see we are testing the implementation [here](https://github.com/tightenco/ziggy/blob/master/tests/js/test.route.js#L128). I'd love to try to duplicate your bug and get it fixed.

Thanks!

[2017-10-30 22:17] gizburdt commented on #92
Hi,

Thanks for the quick reply :)

This is in the RouteServiceProvider:

[code]

This is in routes/api.php:

[code]

This will result in (with php artisan route:list):

[code]

In my Vue component I use `route('api.orders.index')`. Th requested url is this one: `http://example.dev/api.example.dev/addresses`.

Is this enough data? Otherwise let me know :)

[2017-10-31 02:48] lampard7824 commented on #92
I have the same problem, the router couldn't tell it is a domain name or a path without the protocol (http:// or https://) in front.

[2017-10-31 09:24] gizburdt commented on #92
Yes, that's my problem too

[2017-10-31 12:36] dohisev opened #93 "Genetare minified version of javascript"
I noticed that it generates a really big javascript code, I was wondering if it's not possible to generate a minified version for production like webpack does and it would also "protect" a little bit.

[2017-10-31 13:56] gizburdt commented on #92
I see there is a src/js/UrlBuilder in de master branch. I think this will fix the problem. But this is not yet tagged.

[2017-11-05 10:06] the94air commented on #49
The docs is ready. https://the94air.github.io/ziggy/

[2017-11-05 12:32] the94air commented on #49
Can you create a gh-pages branch so I can make a pull request. Thanks.

[2017-11-09 07:33] chrisbjr commented on #92
Having the same issue with a subdomain configured. It uses the "domain" variable and prepends the baseUrl.

Example:
http://test.dev/api.test.dev/users

[2017-11-09 07:37] chrisbjr commented on #92
Acutally, sorry, no - it does not prepend the baseUrl. It only prepends the domain so end result is this:

api.test.dev/users

So when plugging this in the browser, a sample result is this:

`<a href="api.test.dev/users">Test</a>`

Which, when clicked or taken action through the browser, the browser appends the base URL, redirecting it to `http://test.dev/api.test.dev/users`

[2017-11-09 07:45] chrisbjr commented on #92
Okay, sorry for flooding the comments - I see that there was a rewrite of `route.js` in 0.4. We were using 0.3.*. Will try and update and see if there are any improvements.

[2017-11-09 08:16] chrisbjr commented on #92
The bug is still there in 0.4.* but it looks like UrlBuilder in master branch has fixed this :)

[2017-11-09 08:54] ankurk91 commented on #93
Are you guys talking about this file -
https://github.com/tightenco/ziggy/blob/master/dist/js/route.min.js

[2017-11-09 09:21] gizburdt commented on #92
Yeah, it's fixed in the master branch. The master branch needs to be tagged.

[2017-11-09 12:31] Rogierownage opened #94 "Javascript crash in IE"
Ziggy currently does not work in Internet Explorer. The following code causes an error.

vendor/tightenco/ziggy/src/js/route.js
Line 23:
return Object.assign({}, params);

TypeError: Object doesn't support property or method 'assign'

At this link, you can see that Object.assign() is indeed not supported in IE.
https://developer.mozilla.org/nl/docs/Web/JavaScript/Reference/Global_Objects/Object/as

[2017-11-10 09:10] ChristianYeah opened #95 "not able to use route().current()"
[code]

[2017-11-11 03:01] DanielCoulbourne commented on #95
Please make sure you are using v0.5.0, just published. That feature was only available in dev until now.

[2017-11-11 03:01] #95 closed

[2017-11-11 03:01] DanielCoulbourne commented on #94
This should be fixed in 0.5.0

[2017-11-11 03:01] #94 closed

[2017-11-11 03:02] DanielCoulbourne commented on #93
We are exporting it. I think we just need to use it by default.

[2017-11-11 03:02] DanielCoulbourne commented on #92
Tagged!

[2017-11-11 03:02] #92 closed

[2017-11-12 08:59] chrisbjr commented on #92
Much appreciated @DanielCoulbourne

[2017-11-12 18:16] gizburdt commented on #92
Thanks :)

[2017-11-12 19:32] lamberttraccard opened #96 "Ziggy does not find the id key in object"
Hi,

using Ziggy v0.5.0 I have the following error.

<img width="534" alt="capture d ecran 2017-11-12 a 20 28 43" src="https://user-images.githubusercontent.com/4272598/32702490-66362766-c7e8-11e7-964e-a1ebd67bd970.png">

It works fine if I directly pass an id.

[2017-11-12 19:35] DanielCoulbourne commented on #96
Thanks I’ll look into this today.

[2017-11-15 10:09] Rogierownage commented on #94
Cool, it does indeed work now. Thanks.

[2017-11-16 03:16] DanielCoulbourne commented on #93
Addressed by #99

[2017-11-16 03:19] #93 closed

[2017-11-16 03:20] DanielCoulbourne commented on #96
@lamberttraccard can you show me the code that caused this error?

[2017-11-16 07:39] lamberttraccard commented on #96
@DanielCoulbourne
<img width="645" alt="capture d ecran 2017-11-16 a 08 38 43" src="https://user-images.githubusercontent.com/4272598/32879277-a12429cc-caa9-11e7-90fa-acffda5d838e.png">

[2017-11-16 07:47] ankurk91 commented on #96
Some insights -

[code]

Ziggy example
[code]
Result -
[code]

It does not look for `id` but `user` property because the route requires {user}.
[code]
Notice the **`{user}`** in url

[2017-11-16 07:52] lamberttraccard commented on #96
Thanks @ankurk91, yes it's seems that Ziggy doesn't work with route model binding.

[2017-11-20 07:14] the94air commented on #49
Hopefully I can make the PR the next weekend.

[2017-11-21 15:21] degerstrom opened #102 "Did version 0.5 remove support for subfolders?"
My Laravel installation is in a subfolder _/app/_ (which I can't change at this time), but support for this seems to have been removed in version 0.5?

I can verify that version 0.4 correctly accesses my routes at

    /app/route/123

whereas version 0.5 removes the _/app/_ part and requests

    /route/123

Is this intentional, and if so is there a workaround?

[2017-11-21 16:10] DanielCoulbourne commented on #102
This is definitely not intentional. I'll look into this

[2017-11-21 16:11] DanielCoulbourne commented on #49
@the94air What do you need me to do?

[2017-11-21 16:13] the94air commented on #49
Make a gh-pages branch

[2017-11-21 16:13] DanielCoulbourne commented on #96
I know we did support looking up by generic ID at one point. I believe @JesseLeite wrote that.

It may have gotten lost in the big rewrite. I'll go back and look to see if it's there.

[2017-11-21 16:37] the94air commented on #49
Make gh-pages branch

[2017-11-21 16:41] the94air commented on #49
Just make `gh-pages` branch and I will take care of every thing else. thanks

[2017-11-22 02:13] JesseLeite commented on #96
Yessir 👌 https://github.com/tightenco/ziggy/blob/master/tests/js/test.route.js#L101-L113

[2017-11-23 02:11] DanielCoulbourne commented on #96
Yeah that test is passing...
@lamberttraccard if you can give me a combination of a route definition and a Ziggy usage that makes this break, please re-open.

I'd love a failing test

[2017-11-23 02:14] DanielCoulbourne commented on #49
@the94air https://github.com/tightenco/ziggy/tree/gh-pages

thanks!

[2017-11-25 06:09] DanielCoulbourne commented on #102
@degerstrom Can you shoot me a copy of the offending routes (including the route group with the namespace)?

[2017-11-28 13:11] degerstrom commented on #102
@DanielCoulbourne Thanks for following up.

Here are my [0.4 routes](https://gist.github.com/degerstrom/174abb12c8b6466a04b20ddb8dd8de3b) and my [0.5 routes](https://gist.github.com/degerstrom/c7d9f7cc0f8e5a19e186a28605eb64b8).

[2017-11-28 19:30] DanielCoulbourne commented on #102
@degerstrom sorry I meant from your Laravel routes file (so I can try to reproduce it locally)

(although what you provided IS helpful, thanks)

[2017-11-29 10:42] worldofswift opened #106 "Problems with routes with '/' on its end"
Good day.
Latest stable version of package, laravel 5.5.
How to reproduce:
Route::get('/surweys', 'SomeController@index')->name('surweys.index');
Route::get('/surweys/{surwey}', 'SomeController@show')->name('surweys.show');

So, if I type url localhost:8080/surweys and type in js console route().current(), it will show 'surweys.index' as expected, but if I go to localhost:8080/surweys/ - it predic

[2017-11-29 10:43] worldofswift commented on #106
Stable I mean ^0.5.0

[2017-11-29 18:27] bagaskarawg opened #107 "dingo/api Routing Support"
Hi there,

First of all, thank you for this amazing stuff you guys made, it's working well as expected. But, I was creating a Single-page Application using Vue.js as the front-end and Laravel as the back-end.

Currently, I am using package named `dingo/api`(https://github.com/dingo/api/) for the API things. Unfortunately, while I was there, `dingo/api` uses its own Routing (`$api = app('Dingo\Api\

[2017-11-30 11:49] cristiancalara commented on #107
Hi @bagaskarawg

I've had the same "issue". I've forked and implemented a quick way to send over additional routes via the routes directive. Basically I added a `$additionalRoutes` param that allows to send the routes over. I could submit a pull request if the package owners decides that this is a feature that they want to support.

For the code to get the routes in the format that Ziggy expects,

[2017-11-30 14:16] bagaskarawg commented on #107
hi @cristiancalara,

Wow, great! Thank you for sharing with us!

I've been thinking about extending the package directly too, but, in my idea it just needs to merge both, from Laravel's default `Routing` and Dingo's `Routing`, but, I see that your idea is quite good too.

Is there any way I could use your fork? I am not having an experience to install package from Git repository before, or maybe y

[2017-11-30 14:52] cristiancalara commented on #107
Hi @bagaskarawg

I've looked a bit into having a more subtle merge of the routes, but nothing obvious showed up as the Dingo package extends on top of the Laravel routes, and they are not present as default Laravel routes.

Yes, you can temporarily add

[code]

And update the require section - `tightenco/ziggy` to `dev-master@dev`
[code]

[2017-11-30 15:32] bagaskarawg commented on #107
Thank you for your guidance, I will try it out later.

Just Sharing that I was thinking about changing method `nameKeyedRoutes()` from:

[code]

into this:
[code]

But, maybe this needs to have a conditional clause to check if dingo is installed or not and maybe we could add an option in the config file or something like that.

[2017-12-01 07:47] DanielCoulbourne commented on #107
If you guys want I'm totally open to making a configuration option to allow for you to provide your own Routes. We could pull `nameKeyedRoutes()` out into something like a `LaravelRouteCollector` class which would implement a `RouteCollector` interface. Then we could have a config option that would allow you to specify your own `RouteCollector` compliant `DingoRouteCollector` class.

Then @cristia

[2017-12-01 07:48] DanielCoulbourne commented on #106
Whoops! This makes sense. I'll fix this bug tomorrow.

Thanks for reporting it!

[2017-12-01 08:11] cristiancalara commented on #107
Yes, I also think extensible is the way to go and the approach you suggested sounds good.

My concerns were about cluttering the documentation for this specific case e.g. if it's worth it. As:
- I don't really know any other packages that keep their routes separate from Laravel
- Dingo is currently in alpha release and there are chances that it may end up using the standard Laravel routes.

But I

[2017-12-01 10:11] danieltorscho commented on #78
I have the same error log, reproduced in the same way.

[2017-12-01 16:18] bagaskarawg commented on #107
Hi @DanielCoulbourne,

I think that way will make ziggy better and flexible which is great! That way we as user could be freely manage which adapter to be exposed to the javascript client.

As for me, I would love to see that implemented and I would like to contribute as much as I can to support ziggy in this feature.

And @cristiancalara, I too don't know any package that uses its own Route, but

[2017-12-01 19:16] DanielCoulbourne commented on #107
Okay great. I don't think I'll document the feature except with some comments I
In the code because I agree it will clutter the main docs.

[2017-12-01 19:18] DanielCoulbourne commented on #78
Great! Can you provide me the section in question of your Laravel Routes file?

[2017-12-01 21:08] Josh865 opened #108 "Site is in subdirectory, but route doesn't include it"
First, thanks for the great package--it's made setting up my app's AJAX calls much easier.

I've run into an issue that I can't solve, and I'm not sure if I'm missing something or if it's a bug.

My site is in a subdirectory named `buildings`, so it's base URL is something like `www.mysite.com/buildings`.

In Laravel, I have an `admin` routes group that looks something like this:

    Route::group

[2017-12-05 07:52] degerstrom commented on #108
I reported this in #102, my temporary fix is to downgrade to version 0.4

Which reminds me that I owe @DanielCoulbourne some feedback.

[2017-12-06 15:08] Ctaque opened #109 "handle ssl encryption in route"
I'm currently deploying to heroku and it appears that I get this error:

Does it handle ssl encryption? Because when i do
`route('api....').url()`
this is the result :
`http://onsortirapeutetre.herokuapp.com/api/excursion`

[2017-12-08 17:31] Ctaque commented on #109
I looked into this is noticed that the method prepareDomain() uses the url method of laravel, which as described in the documentation creates a url designed for non ssl encryption in contrary to the secure_url() method.

I think that the environment variable APP_URL could be used and parsed to create the domain base variables.

[code]

This is what i think about :
Just add : $url = env('APP_URL',

[2017-12-13 08:29] antoine1003 opened #110 "Wrong Base URL"
Hi,
When I try to use `var url_sub = route('user.handleFriends');` it returns  `http://localhost/user/handleFriends` while it should return `http://localhost/site-etudiants/public/user/handleFriends`.
In my **app.config** I have `env('APP_URL', 'http://localhost/site-etudiants/public')`.
I am using Laravel 5.4

[2017-12-14 00:30] jcmosaiclearning commented on #110
I'm also seeing this. The Ziggy object definitely has the correct `baseUrl` set per my APP_URL, but it looks like it's never consulted by the `UrlBuilder` object when building out the template that is later used by the Router's `parse` method.

[2017-12-14 11:10] antoine1003 commented on #110
@jcmosaiclearning Actually, I found an alternative : in your page just put this kind of script
[code]
Then in your ziggy stuff just use `APP_URL + 'user/inbox'`
Hope it helps 😉

[2017-12-14 16:20] jcmosaiclearning commented on #110
Unfortunately, it doesn't help. The `route` helper function returns the fully formed URL so I'd just be prefixing that with the APP_URL.

I've got a ton of ajax calls that I'd love to have use the `route` helper use in order to find their routes. Then when my backend changes, as long as the route names remain the same, the JS continues to work. I also love the idea of only exposing routes based on

[2017-12-15 15:36] okmkey45 commented on #110
Same issue here. `route('appointment.data')` should return `http://localhost:8080/app/public/appointment/data` but it returns `http://localhost:8080/appointment/data`

Any advices?

[2017-12-15 16:17] DanielCoulbourne commented on #110
Hmm. I'll take a look at this today.

[2017-12-15 22:44] DanielCoulbourne commented on #108
Duplicate of #110

[2017-12-17 18:49] jcmosaiclearning commented on #110
Awesome! I really like how easy it is to set up routes to expose based on groups with Ziggy as opposed to Laroute, so I'm glad to be able to continue using it. As someone else stated in the other thread(#108), I've downgraded to 0.4 for now which fixes the issue.

[2017-12-18 12:56] Ctaque commented on #109
What do you think of this @DanielCoulbourne  ?

[2017-12-19 23:23] okmkey45 opened #112 "nested objects for the request parameters"
Hello. I am trying to add nested objects inside the url. For example, this is mi code:

[code]

and this returns:

[code]

Does this mean that I can´t nest objects within other objects? or am I missing something?

Thanks for the help

[2017-12-21 19:17] DanielCoulbourne commented on #112
Yeah. This is not Ziggy, this is just how URL params work.

[2017-12-21 19:17] #112 closed

[2017-12-21 19:18] #106 closed

[2017-12-21 19:18] #110 closed

[2017-12-21 19:18] #108 closed

[2017-12-21 19:19] #102 closed

[2017-12-21 19:20] DanielCoulbourne commented on #109
Fixed by #111

[2017-12-21 19:20] #109 closed

[2017-12-28 17:53] rorymcdaniel opened #115 "Routes Blade Directive not being recognized"
I'm using Laravel 5.5.28 and have tightenco/ziggy 0.6.0 installed. Console output shows that tightenco/ziggy was in fact discovered.

I've placed @routes in my base layout blade template, but it's not being rendered. Looking at the source simply shows @routes there instead of the JavaScript output I would expect.

Am I missing something obvious? What's the best way to troubleshoot this?

[2017-12-29 12:09] Sirhaziq commented on #115
i am experiencing the same problem as well. someone should help please

[2018-01-02 16:39] ankurk91 commented on #115
Does `@routes()` make any difference?

[2018-01-02 21:17] rorymcdaniel commented on #115
No, it's the same in either case. It simply puts @routes() in the final HTML output, as if Blade isn't recognizing the directive.

[2018-01-02 21:30] rorymcdaniel commented on #115
It looks like if I make a change in ZiggyServiceProvider it works. I replaced:
`
        $this->app->afterResolving('blade.compiler', function (BladeCompiler $bladeCompiler) {
            $bladeCompiler->directive('routes', function ($group) {
                return "<?php echo app('" . BladeRouteGenerator::class . "')->generate({$group}); ?>";
            });
        });
`
with:
`
        Blade::

[2018-01-05 20:11] reinink opened #118 "Encode URLs?"
I ran into a situation today where I was using user-generated input to generate URLs with Ziggy. For example:

[code]

However, if a user types in any character that has a special URL meaning (ie. an ampersand), then this URL is busted.

For example, if I search for "Jonathan&Amy", I'll get:

[code]

Since the ampersand is a query string separator, my `search` value will only be "Jonathan".

A sim

[2018-01-06 08:02] mikerockett commented on #24
Not sure if this is good practice or anything, but I created an in-app provider that registers a composer to pass along my routes to each view. Only the routes. Then, on the webpack side, I’m simply importing the script directly from vendor. This is where my question lies… Bad practice?

[2018-01-08 15:58] arturmamedov commented on #115
No for me with `laravel 5.4` this fix doesn't work.

[2018-01-09 08:10] ToujouAya commented on #115
same as me
it is not work in laravel 5.4.36
tightenco/ziggy 0.6.0

[2018-01-09 09:41] ankurk91 commented on #115
It is working fine on:
* PHP 7.1.10
* Laravel Framework 5.4.36
* Packages installed - `composer show`
[code]
* Used as ` @routes` in blade template

[2018-01-09 11:05] fridzema commented on #115
Not working on:
PHP 7.2.1
laravel/framework 5.5.28
tightenco/ziggy 0.6.0

Displays @routes just as text.

[2018-01-09 11:10] ankurk91 commented on #115
Someone can please create a repo with minimal reproduction.

[2018-01-09 12:08] fridzema commented on #115
@ankurk91 I have figured out that in my case the package lab404/laravel-impersonate is the problem.

I have made a minimal reproduction https://github.com/fridzema/ziggy-issue

[2018-01-09 12:45] ankurk91 commented on #115
@fridzema
I was not able to re-produce the issue.
What i did.
[code]
The `@route` blade directive working fine for me (with and without `laravel-impersonate` package).

[2018-01-09 12:49] fridzema commented on #115
uuuhmm i had to do manually php artisan view:clear to see te results

[2018-01-09 13:03] ankurk91 commented on #115
@fridzema
Now i am able to re-produce the issue. Yes culprit is `laravel-impersonate` package.
They seems to have fixed this issue, but no released yet.
https://github.com/404labfr/laravel-impersonate/commit/ab3973b3700c1da904474248bf0737c4a22d96f2

[2018-01-09 13:06] fridzema commented on #115
@ankurk91 Thanks! i'll just wait for the release.

[2018-01-09 13:18] rorymcdaniel commented on #115
What is the issue with laravel-impersonate? I'm not using this package but many others. I need to know what to look for.

[2018-01-09 13:39] ankurk91 commented on #115
@rorymcdaniel
Check the [this](https://github.com/404labfr/laravel-impersonate/pull/25) link.
I applied that patch in current `laravel-impersonate` package and it worked.

[2018-01-10 03:56] ToujouAya commented on #115
@ankurk91
Not working on:
PHP 5.6.30
laravel/framework 5.4.36
tightenco/ziggy 0.6.0

Composer show

`arcanedev/log-viewer                  4.3.1   Provides a Log Viewer for Laravel 5
arcanedev/no-captcha                  3.2.2   No CAPTCHA (new Google reCAPTCHA) with Laravel support
arcanedev/support                     3.21.4  ARCANEDEV Support Helpers
artdarek/toastr                       2.0.0

[2018-01-10 14:14] gwleuverink commented on #115
@ankurk91 I'm not using laravel-impersonate and also experience this issue. Currently on Laravel 5.5.26

[2018-01-10 14:26] fridzema commented on #115
What i have done to figure out which package is causing the issue is made an empty laravel project (you can use https://github.com/fridzema/ziggy-issue) and just pasted all dependencies in composer.json. Then run `composer update && php artisan view:clear` if the problem persist you remove packages till you find the bottleneck (5 at a time for example) and run again`composer update && php artisan

[2018-01-11 10:35] the94air commented on #93
I just tried the minified version in my app and it is beautiful. :+1:

[2018-01-11 14:53] giorbismiguel opened #119 "How to force to use HTTPS for all routes?"
I am using the function route('name-route') but ever return a URL without https. How can i change that behavior?

[2018-01-11 15:07] giorbismiguel commented on #119
I force the https protocol in your Laravel application adding:

[code]

In your AppServiceProvider.php.

[2018-01-11 15:07] #119 closed

[2018-01-11 21:54] mazyvan opened #120 "Urgent: version 0.6.0 isn't working (on laravel 5.4 at least)"
### Currently installed Laravel version:
`5.4.*`

### Currently installed Ziggy version
`^0.6.0`

### Example route from your Laravel Routes file.
_i.e. -_
[code]

After the installation process that indicates the readme file I got the 0.6.0 version.
but it has this issue #115 , so I change the `ZiggyServiceProvider` file as @rorymcdaniel proposed. Then after that, I've got this one #69 and this o

[2018-01-12 22:46] vahidrezazadeh opened #121 "ziggy dont return trust url"
hi , i use Laravel 5.5 and when use ziggy , this just return a js Object
for example i have this route in my web.php :
` Route::get('get-additions/{id}', 'PlansController@get_additions')
                ->name('get_additions');`
when i use ziggy :
` console.log('ROUTE : ', route('admin.plans.get_additions', [plan_id]));`
return this :
![ziggy](https://user-images.githubusercontent.com/12491459/348

[2018-01-13 03:45] josecanhelp commented on #121
Are you trying to get the generated url?

You might want to try `console.log('ROUTE : ', route('admin.plans.get_additions', [plan_id]).url());`

[2018-01-13 07:17] vahidrezazadeh commented on #121
hi
i try `console.log('ROUTE : ', route('admin.plans.get_additions', [plan_id]));` and `console.log('ROUTE : ', route('admin.plans.get_additions', [plan_id]).url());` just for test and check result.

[2018-01-15 16:03] ankurk91 commented on #121
You might want to read this
https://github.com/tightenco/ziggy/pull/64

[2018-01-16 01:59] romanzipp commented on #120
Can confirm. Doesn't work with Laravel **v5.5.29** on PHP **7.1.7** with Ziggy **v0.6.0**.

Downgrading to `"tightenco/ziggy": "^0.5.0",` fixes the error - update appreciated

[2018-01-16 08:22] the94air commented on #120
I also upgraded my project to version `0.6.0` but it just show `@routes` in all pages and I needed to downgrade again to `0.5.0`.

[2018-01-26 21:59] DanielCoulbourne commented on #120
Hey folks, @jakebathman and I have both tried to duplicate this issue (on 5.4 and 5.5.29 with Ziggy 0.6) and failed to do so.

Any further info?

Could one of yall who is having the issue post your composer.json?

[2018-01-26 22:19] DanielCoulbourne commented on #115
@gwleuverink Can you post your composer.json?

[2018-01-26 22:26] DanielCoulbourne commented on #78
Closing this for lack of info.

[2018-01-26 22:26] #78 closed

[2018-01-26 22:45] DanielCoulbourne commented on #120
We are closing this issue because it appears to be related to a package conflict as noted in #115

Please update your packages and if you are able to identify other conflicting packages, point their maintainers to this thread: https://github.com/404labfr/laravel-impersonate/pull/25

[2018-01-26 22:45] #120 closed

[2018-01-26 22:45] DanielCoulbourne commented on #115
We are closing this issue because it appears to be related to a package conflict.

Please update your packages and if you are able to identify other conflicting packages, point their maintainers to this thread: https://github.com/404labfr/laravel-impersonate/pull/25

[2018-01-27 09:41] the94air commented on #120
All my installed packages @DanielCoulbourne.
[code]

[2018-01-27 20:02] reinink commented on #118
Awesome, thanks @DanielCoulbourne!

[2018-01-28 03:58] jakebathman commented on #120
@the94air I just installed that package set into my testing project and Ziggy continued to work. If you end up narrowing it down to a specific dependency, let us know and we'll look into it some more.

[2018-01-29 19:42] fancenl commented on #115
@DanielCoulbourne No, I think it isn't a package conflict. I got the same problem too and no other weird packages installed. `@routes` is just as `@routes` in the HTML.

[2018-01-29 19:43] jakebathman commented on #115
Can you post your `composer.json` file?

[2018-01-29 19:53] fancenl commented on #115
[code]

[2018-01-30 08:46] gwleuverink commented on #115
@DanielCoulbourne Sorry for some reason missed your mention. Tough the issue is closed these are my dependencies of that point in time.

[2018-01-30 09:11] gwleuverink commented on #115
I just removed all composer packages that register blade directives except Ziggy. The problem persisted still. In addition I ran composer dump-autoload & artisan view:clear just in case, but to no avail.

[2018-01-30 10:48] fancenl commented on #115
@DanielCoulbourne Please reopen this issue, it's not third party package related

[2018-01-30 14:07] the94air commented on #120
@jakebathman Sorry man, I was working on it yesterday but my PC has been stolen this morning and I can't get my hands on a PC right now. Sorry  again for letting you down guys 😢

[2018-01-30 14:15] jakebathman commented on #120
You're totally fine man, that sucks. Appreciate the help you've given so far.

[2018-01-30 14:46] jakebathman commented on #115
@fancenl Your composer.json doesn't include ziggy?
@gwleuverink can you post whatever you have installed after stripping everything out? We're trying to figure out under what circumstances this issue happens and then we can tackle it if needed.

(Just a note, we won't typically work on this until evenings or Fridays, but I appreciate both of you helping out 😸)

[2018-01-30 15:14] gwleuverink commented on #115
Hi @jakebathman. I just updated all packages and cleared the views. Whatever the culprit was, it's fixed now.

Still peculiar that removing and reinstalling packages individually didn't work earlier today. I probably missed something.

All is working now. Thanks for the great package and the support!

[2018-02-04 17:09] kikky7 commented on #115
PHP v7.1.14
ziggy v0.6.0

Same issue: @routes is rendered as string after version update. I was on v0.5.0 and there is no issue (now I am back at v0.5.0). I am not using impersonate package.

[2018-02-04 17:17] jakebathman commented on #115
@kikky7 can you post your `composer.json` file?

[2018-02-04 17:20] kikky7 commented on #115
[code]

[2018-02-04 21:32] vinjegaard opened #125 "Use Ziggy with browsersync proxy"
I've configured browsersync to proxy my application like this:
[code]

I run `npm run watch` for hot reloading and use the app from localhost:3000. If i send axios requests to '/api/foo' the request URL becomes 'localhost:300/api/foo' but if I use Ziggy ^0.6.0 it becomes 'my-app.test:8000/api/foo'. I went back to ^0.4.1 that does not change URL to app URL because Passport will not add laravel cook

[2018-02-06 15:32] darron1217 commented on #115
I've just fixed this issue with some code modification on ServiceProvider

I modified the code below (boot method)
https://github.com/tightenco/ziggy/blob/f7b0377e2a49fad84703ab03f0c3294cd6fa768f/src/ZiggyServiceProvider.php#L21-L25

into
[code]

I'm not sure this modification is right solution, but in my case, this helped me getting out of this strange bug.

[2018-02-06 23:31] DanielCoulbourne commented on #125
Yes! You could either not use absolute URLs in your dev environment, or you could modify your `APP_URL` in your .env

[2018-02-06 23:33] vinjegaard commented on #125
Thank you for your reply @DanielCoulbourne! I've have changed APP_URL in .env, it does not change the Ziggy URL.

[2018-02-06 23:35] DanielCoulbourne commented on #125
Try running `artisan view:clear` otherwise you can use the third param in the `route()` function to make the calls relative `route('post.show', {post: 1}, false)`

[2018-02-06 23:43] vinjegaard commented on #125
view:clear didn't do anything but it did work by putting false as the third argument, I would however prefer to be able to change APP_URL instead as intended. I'm not sure why that doesn't work for me.

[2018-02-07 09:28] ridwanskaterock opened #126 "ziggy not included base url"
ziggy not included base url

like http://hostname/myproject/public/backend/blog/add

ziggy just retrive backend/blog/add

*i not use php artisan serve for that

if i use php artisan serve it's running

how to setup it ?

thanks

[2018-02-07 15:51] jakebathman commented on #115
Thanks for the help figuring this out, folks. If anyone continues having issues that might trace back to Ziggy, **please open a [new issue](https://github.com/tightenco/ziggy/issues/new)**.

[2018-02-07 15:51] #115 closed

[2018-02-07 17:10] simonfunk commented on #115
Thanks @darron1217 that works for me.
Would be great if that will be implemented on next release

[2018-02-07 19:46] the94air commented on #115
Well... that's a good news @darron1217. The issue toke use forever to solve. Thanks for sharing the solution with use and we will be waiting for your PR. :smile:

[2018-02-08 00:18] darron1217 commented on #115
I created PR :)

[2018-02-08 00:19] the94air commented on #115
Nice!

[2018-02-12 02:59] #125 closed

[2018-02-15 08:32] manueldublanc commented on #126
I see that the fix is already in the master branch. The line 22 in `UrlBuilder.js` was missing in both builded scripts, even though it existed in the source files. Is it possible to tag this commit 77dce9f4a54000ebcf70b6bf5c619a8d99c33617 with v.0.6.1, so that it can be referenced with composer?

[2018-02-15 14:31] reinink commented on #118
@DanielCoulbourne I'm not sure what's wrong, but I'm not seeing the new `encodeURIComponent` stuff when I actually call `@routes`. Did we miss a step here? Maybe some build step?

![image](https://user-images.githubusercontent.com/882133/36261612-ee92233c-1232-11e8-8e03-c68be4bb98ee.png)

![image](https://user-images.githubusercontent.com/882133/36261618-f5ec2c04-1232-11e8-8fd8-a61d0644f6c9.png)

[2018-02-15 14:46] fridzema opened #128 "Route helper"
Hello,

I can't live without this package anymore, should be in included in the core/scaffold of [laravel](https://github.com/laravel/laravel) if you ask me!
But unfortunately i've had a lot of problems with conflicting packages in the past (https://github.com/tightenco/ziggy/issues/115).
I would like to include this in my asset worflow so i don't have to use the blade directive anymore.

When i r

[2018-02-16 13:57] jakebathman commented on #126
Until this gets tagged (I'll leave it up to @DanielCoulbourne to tag a release) you can require that commit in your project using:

`composer require tightenco/ziggy:dev-master#77dce9f`

[2018-02-16 14:03] manueldublanc commented on #126
Yup, I wanted to do that, but I didn't like the idea to allow dev-branches in my composer json, so I installed the `composer-patches` package and added a patch. But luckily, @DanielCoulbourne already added the tag, so I don't have to worry about this anymore. Thanks!

[2018-02-16 14:07] jakebathman commented on #126
Oh sweet, I didn't even check for that. I'll close this issue as resolved by v0.6.1

[2018-02-16 14:07] #126 closed

[2018-02-17 05:45] ankurk91 commented on #128
`vendor/tightenco/ziggy/dist/js/route.js` file is trying to access `Ziggy` object and in your case `window.Ziggy` not available.
You may want to autoload `resources/assets/js/ziggy.js` file so that it is available to other modules without importing.

[code]

[2018-02-17 05:46] DanielCoulbourne commented on #118
Oh that makes sense... I'll fix that in a few.

[2018-02-17 05:49] DanielCoulbourne commented on #128
@fridzema We also merged a PR recently that should fix the conflicts with other packages. Could you see if that fixes the issues you were having? It's tagged in 0.6.1

[2018-02-17 05:56] #118 closed

[2018-02-19 09:26] fridzema commented on #128
@ankurk91 Thanks!
@DanielCoulbourne The issues are fixed! But i am always living on the edge and begin my day with updates (bad habit), and this package broke a lot of times. With a separate file this is no issue anymore and cleaner html output.

[2018-02-24 23:41] darekmeco opened #132 "Routes generated by artisan not works"
Routes generated by
php artisan ziggy:generate
not works because there's no
defaultParameters attribute
please fix it.

[2018-02-25 02:06] icerene commented on #115
I used tightenco/ziggy 0.6.2. I replaced:
$this->app['blade.compiler']->directive('routes', function ($group) {
           return "<?php echo app('" . BladeRouteGenerator::class . "')->generate({$group}); ?>";
});
with:
\Blade::directive('routes', function($group) {
            return "<?php echo app('" . BladeRouteGenerator::class . "')->generate({$group}); ?>";
        });
And then it works as e

[2018-02-28 03:39] mvsiaga opened #133 "https routes"
How can the routes be served over https?

[2018-02-28 05:43] Archer70 commented on #70
I know this issue is old, but I came across it by Googling the same problem and thought I might add my solution as well. I was able to make a global `vueRoute` function by adding this to app.js

[code]

And then you can call it like so:
[code]

[2018-02-28 07:34] the94air commented on #133
You can change the app url inside your `.env` file
[code]

[2018-02-28 19:05] avrahamappel commented on #96
@DanielCoulbourne
I'm having this issue as well.

`route('contracts.revise', {id:1}).url()`

I get

[code]

Route definition:

[code]

I don't have anything filtered right now.

[2018-02-28 19:16] the94air commented on #96
Try this @avrahamappel
[code]

[2018-02-28 19:20] avrahamappel commented on #96
I understand, but that was my test case. In reality I'm passing a JavaScript representation of an  Eloquent Model in there, and according to what I understood from the above discussion, Ziggy should be able to find the `id` field in the object.

[2018-02-28 19:31] the94air commented on #96
It is not merged yet as @DanielCoulbourne said

[2018-03-01 02:41] mvsiaga commented on #133
Got it working now. Thank you!

[2018-03-01 08:19] Dawgora opened #134 "Documentation about querystrings."
Hello, I think the documentation should be updated, because of #34 . In the documentation there is nowhere to be written about the querystrings. I think it would be nice to add the code what Jesse wrote, or something similar.
for example:

[code]
I don't know exactly if the code what I wrote here is correct, but this just for example.

[2018-03-02 09:00] omadonex commented on #107
Hi, guys what you decided? I have the same "issue". I think that it a good way by making Ziggy extensible

[2018-03-02 09:09] DanielCoulbourne commented on #107
I'm all for it but just haven't had the time to get around to it sorry. Hopefully next week!

[2018-03-02 09:10] DanielCoulbourne commented on #133
Thanks @the94air for helping

[2018-03-02 09:10] #133 closed

[2018-03-02 09:11] DanielCoulbourne commented on #134
Great Idea! I'm planning to kill a bunch of issues next week during Tighten's onsite so I'll knock this out then.

[2018-03-02 09:12] DanielCoulbourne commented on #96
Will do! May be a day or two unfortunately but thanks for the heads up.

[2018-03-02 09:13] DanielCoulbourne commented on #70
Great solution! I'm going to reopen this issue and add this to the docs next time I do a sweep

[2018-03-08 19:32] erpfast opened #135 "route helper return"
Hi there,

Just started using this and hoping to continue to do so. Really cool package.

I am using v 0.6.2 and the return from the route helper is a Router instance.
[code]

From there I can access the router methods, but by the documentation it seems that it should be returning just the URI string?

Thanks

[2018-03-08 20:16] DanielCoulbourne commented on #135
You can get an explicit string with `.url()` but this object is string accessible so you’re good in most instances.

[2018-03-08 20:16] #135 closed

[2018-03-08 21:15] jakebathman opened #136 "Update for Laravel 5.6"

[2018-03-09 22:47] #136 closed

[2018-03-09 22:50] DanielCoulbourne commented on #132
I'm gonna need a little more to work with. Can you provide:

### Expected Behavior
_If this is a new feature, give a usage example._

### Current Behavior
_If this is a new feature, is it a modification of an existing feature? Otherwise – `none`_

## For bug reports only please provide
### Currently installed Laravel version:
`5.5.28`

### Currently installed Ziggy version
`0.6.0`

### Example rou

[2018-03-09 22:50] #132 closed

[2018-03-09 22:51] #128 closed

[2018-03-10 23:27] bjmrey commented on #115
For some reason I've just come across the same issue, even though I am using the latest version of the package. Laravel 5.4, PHP 7.1.5. Works in my dev environment but not in prod.

I'll look deeper into it, but in the meantime here is a quick fix: simply replace the `@routes` directive by `<?php echo app(Tightenco\Ziggy\BladeRouteGenerator::class)->generate(); ?>`

[2018-03-11 18:14] #134 closed

[2018-03-11 18:15] jakebathman commented on #134
One note: the example above from @Dawgora has a `null` value being rendered as `?country=`, when in the current codebase it'll be rendered literally, e.g.:

[code]

It might be desirable to have `null` rendered as an empty value, but that'll require a future change.

[2018-03-11 19:53] #70 closed

[2018-03-12 13:13] DanielCoulbourne opened #140 "Explore building HTML docs from markdown programmatically."
### Expected Behavior
`npm run build` should generate updated HTML docs from the markdown docs.

[2018-03-12 13:15] DanielCoulbourne commented on #134
@jakebathman how does laravel's`route()` handle it?

[2018-03-13 20:16] jakebathman commented on #134
It excludes the key entirely:

[code]

[2018-03-13 20:18] DanielCoulbourne commented on #134
Ah. Well We should probably not pass in the string `null`

[2018-03-13 20:20] DanielCoulbourne opened #141 "Exclude query params where value is null"
### Expected Behavior
[code]

### Current Behavior
[code]

This was brought up in the comments for #134

[2018-03-13 23:28] robertmylne opened #142 "route().current() broken when using with non-standard port number."
I want to check if the named route `websites.index` is the currently viewed route in the browser. I can't work out why none of what I have tried is working though.

[code]

[2018-03-14 14:40] ankurk91 commented on #140
Vue js community is heavily using
https://www.gitbook.com

[2018-03-23 21:44] jakebathman commented on #140
If we don't wanna move to a third-party thing like GitBook (which might be too much overhead for what's just a readme page), we'll have to re-structure the HTML file in the `gh-pages` branch. It's differently formatted enough to be frustrating.

Was the HTML generated from `.md` at some point, or coded by hand? Please say it was generated somewhere 🤞

[2018-03-24 05:36] DanielCoulbourne commented on #140
Pretty sure the docs weren't programmatically generated.

@the94air Can you confirm?

If they aren't I want to update it so that they are. This may require some major CSS updates.

[2018-03-24 06:53] the94air commented on #140
No, it wasn't generated. I agree we should move to the automated version. I tried my best to make the HTML syntax as easy as it can in my last update of the docs by removing the sidebar (and also less CSS classes by relaying on tags only). I am using a stand alone version of Laravel mix and bootstrap 4 _so_ I am pretty sure any one of you can use it. Of course if you think that the md version is o

[2018-03-24 08:33] ankurk91 commented on #140
What about `Jekyll`, GitHub has inbuilt support and it can convert MD files to html theme.
https://guides.github.com/features/pages/

[2018-04-09 08:51] Lucassith opened #145 "Require laravel components to work with Lumen."
### Expected Behavior
Ability to work on Lumen with only a vital components of the whole framework.

### Current Behavior
Installing on Lumen will fail on dependency check.

Lumen is great for basic API application while using hardcoded routes is a _**pure evil**_ and it would be great if we all could use your work not only in full scale Laravel apps.

[2018-04-09 15:13] DanielCoulbourne commented on #145
I would definitely merge a PR for this functionality, but I'm currently a little too busy to build out the necessary tests. Maybe this friday.

[2018-04-09 18:15] davidbankes commented on #142
I think this is due to the port number. Recently ran into that in another build.

Perhaps consider renaming your issue "Broken when using with non-standard port number". I was about to open an issue like that, but it would basically a duplicate of what you seem to be facing.

[2018-04-11 04:11] jsgv opened #146 "Get pathname instead of full URL"
Is there any way to only retrieve the path of the link?

Instead of
[code]
I want
[code]

Not sure if there is already a built in way to do this.

Or is it possible to disable `baseUrl`, `baseDomain`, etc from the generated JS file?
I basically only need everything after the domain.

Thanks

[2018-04-12 16:09] DanielCoulbourne commented on #146
Yes, you can set absolute to false

https://github.com/tightenco/ziggy/blob/master/src/js/route.js#L128

[2018-04-14 01:05] #96 closed

[2018-04-14 01:07] #146 closed

[2018-04-14 01:45] #141 closed

[2018-04-14 01:53] DanielCoulbourne commented on #145
<img width="553" alt="screen shot 2018-04-13 at 9 53 00 pm" src="https://user-images.githubusercontent.com/429010/38763236-106cf400-3f65-11e8-9b12-21a3a291df9f.png">
<img width="420" alt="screen shot 2018-04-13 at 9 52 16 pm" src="https://user-images.githubusercontent.com/429010/38763237-1084972c-3f65-11e8-8f72-f2b23878fd00.png">

Seems to work for me?

[2018-04-14 01:53] #145 closed

[2018-04-14 02:02] DanielCoulbourne commented on #142
After further research it looks like the issue is protocol not port number. I actually have tests verifying port number. Let me hack on protocol real quick and see how it goes.

[2018-04-14 02:13] #142 closed

[2018-04-15 11:10] Lucassith commented on #145
Listing the Laravel catalog will show that there is also entire Laravel Framework alongside with Lumen Framework and this isn't correct.

[2018-04-15 11:14] Lucassith commented on #145
Plus I tried to use ziggy by removing Laravel framework & orchestra (which also depends on whole framework) and I was convinced that it may not work due to Lumen's 'slimmer' router which does not contain Macro method.

[2018-04-15 17:33] DanielCoulbourne commented on #145
I think of you want lumen support you might need to be the one to build it unfortunately. I think that’s out of scope for me right now but if you PR it I’ll gladly help test it.

[2018-04-16 15:59] bagaskarawg commented on #107
Hi @DanielCoulbourne!

Great news! I have been waiting for this 👍
Thank you for this and I have check it out for a while and will gladly help if needed.

[2018-04-19 08:28] MikeElghali opened #150 "IE11 - Windows 7: Object doesn't support property or method 'assign'"
## For bug reports only please provide
### Currently installed Laravel version:
`5.6.17`

### Currently installed Ziggy version
`0.6.3`

### Ziggy call in context

![capture d ecran 2018-04-19 a 10 26 03](https://user-images.githubusercontent.com/2301050/38980095-348ff43a-43bc-11e8-9dc4-f7ec2e0cc7ff.png)

[2018-04-23 21:03] cviebrock opened #154 "How to use static routes with mix and Vuejs"
Just starting to use this, and I'm a bit confused about how to use the [artisan command](https://github.com/tightenco/ziggy#artisan-command) in my Vuejs project.

I run the command to generate `resources/assets/js/ziggy.js`, but then what?  I've tried adding `require('./ziggy');` to `app.js`, but do I still need the blade directive?  I think I do in order for the `route()` helper function to exist

[2018-04-24 14:35] DanielCoulbourne commented on #154
The command should support your config file.

You'll need to import the route command in your Vue components
`https://github.com/tightenco/ziggy/blob/master/src/js/route.js`

`import route from '/path/to/vendor/tightenco/ziggy/src/js/route.js`
or
`const route = require('/path/to/vendor/tightenco/ziggy/src/js/route.js')`

Hope that makes sense?

[2018-04-27 08:02] devfake commented on #115
My problem was that there was a space at the end of `@routes`.

[2018-04-30 14:33] nunomaduro commented on #141
@DanielCoulbourne I believe that you may have introduced an unwanted behavior on this.

Previously:

[code]

Now:

[code]

Issue: The value `0` is ignored.

Want me to work on a pull request to fix this? 👍

[2018-05-02 11:14] MarciBZA commented on #150
Also have the same issue, please fix

[2018-05-02 12:46] OnlineMafia commented on #150
Please fix, the same issue!

[2018-05-02 12:57] MikeElghali commented on #150
Hi,

I resolved my issue with a polyfill `es6-object-assign` (https://github.com/rubennorte/es6-object-assign).

Works very well with old browsers.

Regards.

[2018-05-02 12:57] #150 closed

[2018-05-09 16:45] gmask opened #155 "Production @routes directive breaks tests that "assertSeeText()""
### Expected Behavior
Any tests that `assertSeeText()` and passed before should continue to pass regardless of Ziggy version.

### Current Behavior
Ziggy `0.6` breaks all tests that `assertSeeText()`

### Currently installed Laravel version:
`5.6.21`

### Currently installed Ziggy version
`0.6.6`

### The problem?
I think the reason this is breaking has to do with the minification that you guys no

[2018-05-09 19:33] DanielCoulbourne commented on #155
What is the test that is failing?

[2018-05-09 19:59] gmask commented on #155
PHPUnit tests that `assertSeeText()`:
[code]

[2018-05-09 20:36] DanielCoulbourne commented on #155
Wait seriously? This makes no sense. I'll play with it in the next day or so and see if i can debug.

[2018-05-10 16:27] gmask commented on #155
I decided to keep looking at this and re-setup my testing environment and re-clone the project. After this I can't get the code generated by `@routes` to minify, so the tests are working. I'm on `0.6.6` still but for some reason the blade directive is only generating the long-form JS. Not sure what's going on lol.

[2018-05-10 17:45] DanielCoulbourne commented on #155
But you're saying the assertSeeText tests fail even if the text they are seeing is unrelated to ziggy?

[2018-05-10 17:49] gmask commented on #155
The `assertSeeText` tests fail if Ziggy is in production/minified mode. If in testing mode the tests pass. I'm not sure if this is an issue with Ziggy or Laravel or even PHPUnit, Ziggy is just triggering the failure.

[2018-05-15 16:53] gmask commented on #155
Adding another piece of the puzzle: switching my `assertSeeText` calls to `assertSee` allows the tests to pass, regardless of `APP_ENV`'s value.

`assertSeeText` breaks under these `APP_ENV` values:
* `dev`
* `testing`
* `production`

And it works under these:
* `local`

[2018-05-26 11:19] scheMeZa commented on #107
Awesome! Any updates on this? Would love to use it in my new project.

[2018-05-30 13:49] DanielCoulbourne commented on #107
Yeah I have a PR open and I just havent tested it out yet.  @scheMeZa would you be willing to experiment with #149 and let me know how it feels to you?

[2018-06-05 21:21] hailwood opened #156 "Generating typescript definitions?"
Hey @DanielCoulbourne,

I'm going to be working on automatically generating typescript definitions, the awesome thing about this is that for us typescript users we'll be able to know the shape of the params object based off the route name and get alerted of any errors instantly. See below.

Anyway, my question is, would you merge this in, or should I work on creating my own package as an extension

[2018-06-06 19:47] codytooker commented on #154
Sorry to open a closed topic but I have a similar problem here.  I don't want to use the @route directive so I am using the artisan command and importing the route.js file manually.

I have this in my app.js file

`
import { Ziggy } from './ziggy';
import route from '../../../vendor/tightenco/ziggy/src/js/route';

Vue.mixin({
    methods: {
        route: route
    }
});
`

This seems like this sh

[2018-06-07 16:50] codytooker commented on #154
`./ziggy`?

is the file produced from the artisan command

[code]

I was under the impression I could simply import Ziggy and it should work.

[2018-06-09 15:56] pmochine opened #157 "Bug with query parameters."
### Expected Behavior

route('events.venues.show', {event: 1, venue: 2, page: 5, count: 0})

// Returns '/events/1/venues/2?page=5&count=0'

### Current Behavior

route('events.venues.show', {event: 1, venue: 2, page: 5, count: 0})
// Returns '/events/1/venues/2?page=5

## For bug reports only please provide
### Currently installed Laravel version:
`5.6.**`

### Currently installed Ziggy version
`

[2018-06-11 14:05] DanielCoulbourne commented on #157
Good call. I'll take a look

[2018-06-13 12:26] scheMeZa opened #158 "Feature Request: Checking if current route has a specific middleware"
## Feature Request
### Checking if current route has a specific middleware

I'm using the latter, and thought it would be nice to see in the package.

[code]

Instead of:
[code]

[2018-06-14 15:52] DanielCoulbourne commented on #158
Sounds like a great PR :)

I would merge this

[2018-06-14 15:52] #158 closed

[2018-06-14 15:53] DanielCoulbourne commented on #156
Gonna close this issue for now. Feel free to keep working on it or reopen

[2018-06-14 15:53] #156 closed

[2018-06-16 22:15] rodrigopedra commented on #154
Hi @codytooker , I was trying the same setup and looking into `route.js` source it seems that Ziggy should be available globally. The following works:

[code]
 This is the line that looks for the `Ziggy` object in the global scope:

https://github.com/tightenco/ziggy/blob/master/src/js/route.js#L9

[2018-06-19 18:55] codytooker commented on #154
@rodrigopedra thanks for the info.  This should work for me.  I'll test it out when I get back to working on the project again.

I think some info like this should probably be added to the readme file around generating the Custom Ziggy file.

[2018-06-20 20:12] reinink commented on #157
This is related to this change: #147

And this bug is already noted here as well: https://github.com/tightenco/ziggy/issues/141#issuecomment-385416381

To me, I think the solution here is to ONLY remove values that are `null`. Ziggy should leave values that falsy, like `0` and `''`. In fact, my app just broke because I was expecting to be able to send an empty string, but it was stripped out.

I a

[2018-06-20 20:13] reinink commented on #157
Probably as simple as changing this:

https://github.com/tightenco/ziggy/blob/962672e507678da3e8324a0dea2ad96411df9852/src/js/route.js#L102

To something like this:

[code]

[2018-06-27 20:41] DanielCoulbourne commented on #157
Sorry I've taken so long getting to this. Been swamped but I'm free all weekend and all week next week. If you drop a PR of @reinink 's solution with a test I'll merge it today, otherwise I'll get around to this in that time.

[2018-06-27 20:41] #154 closed

[2018-06-27 20:41] #140 closed

[2018-07-06 02:53] #157 closed

[2018-07-19 16:43] sunscreem opened #163 "Weird caching error"
### Expected Behavior
I'm using ziggy on several projects no problems at all.

### Current Behavior
I'm unable to replicate the issues that some users seem to be having. I'm only aware of it because the javascript errors are being reported in bugsnag. Seems some users aren't able to 'see' some routes I recently added. When I look at the stack track on bugsnag, indeed the new routes are missing. Bu

[2018-07-19 16:48] DanielCoulbourne commented on #163
Great bug report.

Are you using the blade directive to load your routes or are you using the artisan call?

[2018-07-19 18:32] sunscreem commented on #163
I'm using the blade directive :)

https://github.com/sunscreem/dogpubtimemachine/blob/0858a7c98105e189e59fe26ffe58d0b3eac26776/resources/views/layouts/partials/head-tags-and-scripts.blade.php#L10

[2018-07-23 08:47] OwenMelbz opened #164 "[Question/Feature] Whitelist by group or group prefix"
### Expected Behavior
By default, laravel gives you route files which some have prefixes, such as `api/`.

It also automatically generates names for you via helpers such as `Route::apiResource`

The whitelist should potentially allow you to control by group level, e.g I want to include only "api" routes.

Currently the whitelist/blacklist seems to only allow filtering via the actual route names, r

[2018-07-23 12:00] sunscreem commented on #163
Closing this as the bug hasn't been seen again for 4 days now so, whatever was causing it seems to have gone away. Very odd.

[2018-07-23 12:00] #163 closed

[2018-07-26 09:07] hubertnnn opened #165 "Feature Request: Appending routes"
I can see a few situations where allowing multiple calls to @routes would be useful.
For example when I have a lot of shared routes for everyone and a few for just admins.

Here is an example config file:

    return [
        'whitelist' => [
            'api.*',
        ],
        'groups' => [
            'admin' => [
                'admin.*',
            ],
        ],
    ];

And blade direct

[2018-08-12 17:40] zablockijj opened #167 "Support Laravel 5.7 please"
### Expected Behavior
Let me upgrade to Laravel 5.7

### Current Behavior
Can't

## For bug reports only please provide
### Currently installed Laravel version:
`5.6.24`

### Currently installed Ziggy version
`0.6.0`

[2018-08-13 11:56] benallfree commented on #167
#168

[2018-08-15 03:15] tnorthcutt opened #169 "Compatibility with Laravely 5.5 and below projects"
Looks like [this commit](https://github.com/tightenco/ziggy/commit/4bc6e6a3e4146a0b4691b4a583074ed82959c654) removed <= 5.5 compatibility. Any particular reason why, @DanielCoulbourne? I see that `orchestra/testbench` requires Laravel 5.7, but since that's only a dev requirement for Ziggy, is there a compelling reason to not let 5.5 projects use Ziggy?

### Expected Behavior
I attempted to install

[2018-08-15 03:30] DanielCoulbourne commented on #169
There is not a good reason not to support 5.5 (even 5.4 should be fine) but I’m pretty tied up this week so if you felt compelled to make a PR I’d love that 😎👌👌🍪

[2018-08-16 03:03] #169 closed

[2018-08-16 06:39] ankurk91 commented on #167
Should be fixed by
https://github.com/tightenco/ziggy/pull/170

[2018-08-16 16:04] DanielCoulbourne commented on #167
Not tagged yet. I want to do further testing tomorrow, but you can install dev-master as of today and be fine I think

[2018-08-28 01:07] DanielCoulbourne commented on #167
tagged

[2018-08-28 01:07] #167 closed

[2018-08-28 01:14] DanielCoulbourne commented on #164
That is correct. Unfortunately laravel route groups are ephemeral and it is impossible to retreive routes by group. The simple solution to this is to wrap your entire `api.php` routes file in a group with a name, such as
[code]

[2018-08-28 01:14] #164 closed

[2018-08-28 01:15] DanielCoulbourne commented on #155
I have not been able to duplicate this one yet. Gonna close this for now, until I get someone else with the same issue.

[2018-08-28 01:15] #155 closed

[2018-08-28 01:16] DanielCoulbourne commented on #165
Great Idea. I'd accept a PR for this.

[2018-08-28 15:59] gmask commented on #155
@DanielCoulbourne

It's fairly simple to reproduce:

* Create new Laravel app
* Pull in Ziggy
* Add your `app.js` and `app.css` files to the `welcome.blade.php` view
* Add your `@routes` call to the head of the `welcome.blade.php` view
* Create the following test:
[code]
* It will pass, now change all of the `assertSee` to `assertSeeText`. It will fail.
* Remove the `@routes` directive from the `w

[2018-08-28 17:55] DanielCoulbourne commented on #155
<img width="2559" alt="screen shot 2018-08-28 at 1 55 24 pm" src="https://user-images.githubusercontent.com/429010/44741066-0ba0bf80-aaca-11e8-9aa6-d895dadfa349.png">

[2018-08-28 17:56] DanielCoulbourne commented on #155
This is in Laravel 5.4 (an installation I had lying around. I'll double check that it's the same in stable later today)

[2018-08-28 20:04] gmask commented on #155
Wow... when I move the `@routes` to the very top of `<head>` like in your screenshot the tests pass again... move yours to just before the closing `</head>` tag and see if it fails?

[2018-08-28 21:17] gmask commented on #155
Docs say:
[code]

However, moving `@routes` to the bottom of the page, just before my main app.js file, does indeed fix it. I guess I'll keep it that way rofl.

Thanks for the troubleshooting.

[2018-08-28 21:17] DanielCoulbourne commented on #155
Super weird

[2018-08-29 03:46] mazyvan commented on #78
I'm getting this too. It seams like this happens only when the second parameter is a string

[2018-08-29 04:13] DanielCoulbourne commented on #78
What versions of ziggy and laravel. Please include the code that makes it happen and your routs file containing that route so I can duplicate

[2018-09-08 21:07] montogeek commented on #70
@DanielCoulbourne How are you using it in a React app?
I ran `php artisan ziggy:generate`, iimported the created file, that is just an object, How could I import `route`?

[2018-09-08 21:10] montogeek commented on #70
I could use `@routes` directives, then use it from global `window` object (`window.route`), but I don't want to pollute my HTML with that huge, non minified webpack bundle script tag :/

[2018-09-10 22:50] DanielCoulbourne commented on #70
Right. you should be able to
[code]
or just use `Ziggy.

[2018-09-10 22:54] montogeek commented on #70
@DanielCoulbourne Default export is a simple static object

[2018-09-10 22:55] montogeek commented on #70
Or do you mean `vendor/ziggy/path/to/ziggy`?

[2018-09-10 22:55] montogeek commented on #70
This is the static object that I am talking about: https://github.com/tightenco/ziggy/blob/master/src/BladeRouteGenerator.php#L40

[2018-09-10 23:16] DanielCoulbourne commented on #70
right. I see.

In your app.js `import Ziggy from 'path/to/exported/js'`

or if you want to be more explicit: `window.Ziggy = 'path/to/exported/js'`

[2018-09-10 23:18] DanielCoulbourne commented on #70
If you have to, for some reason, you can also pass a custom route object to ziggy, as in these tests:

https://github.com/tightenco/ziggy/blob/master/tests/js/test.route.js#L621

[2018-09-12 18:37] Owchzzz opened #172 "Optional route parameters results in a default http:// protocol rewrite, even with force https on."
### Expected Behavior
_If this is a new feature, give a usage example._
when calling a route via ziggy that has an optional parameter, it should return the string. for example `route('test.number',{number:'123'})`
Should return something like
`https://app.com/test/123`

# However
### Current Behavior
It returns
`http://app.com/test/123`

## For bug reports only please provide
### Currently install

[2018-09-20 10:25] asologor opened #174 "Optional route parameters leads to redundant trailing slashes"
I have such route:
[code]

`AdmController@index` method signature:
[code]

Then I call `route('admin.home', ['first']).url()` on the back-end and on the front-end sides.

Back-end result:  http://admin.mydomain.local/first
Front-end result: http://admin.mydomain.local/first//

### Expected Behavior
Front-end `route()` function produces the same result as the back-end `route()` function

### Curren

[2018-09-20 11:01] asologor commented on #174
As a temp fix I managed to decorate `url()` method and trim all trailing slashes:
[code]

[2018-09-30 17:11] Livijn opened #175 "Current route returns "update" instead of "show""
### Expected Behavior
Visiting */model/{id}*, `route().current()` should return `models.show`.

### Current Behavior
Visiting */model/{id}*, `route().current()` it returns `models.update`.

### Solution
The *show* and *update* routes usually look the same, only differentiating by the call method *GET*, *PATCH*, *POST*. This means that `route().current()` sometimes picks the wrong one, as in my cas

[2018-10-01 15:47] Livijn opened #176 "Add relativeUrl() function"
Add `relativeUrl()` function so you can get the relative path for the named route. Useful i.e. like this:

[code]

[2018-10-01 20:39] tnorthcutt commented on #172
I haven't been able to reproduce this, unfortunately. @Owchzzz is this still occurring for you?

[2018-10-02 03:58] ankurk91 commented on #174
Laravel 5.7

[code]
[code]

Notice the last one, it has double slashes, even Laravel does not care if you missed one of optional parameter.

[2018-10-02 17:14] DanielCoulbourne commented on #174
Fair point @ankurk91. If laravel changes their helper method we'll change ours to match, but for now I'll close this

[2018-10-02 17:14] #174 closed

[2018-10-02 17:16] DanielCoulbourne commented on #176
Path relative to `route().current()` I assume?

[2018-10-03 00:36] Livijn commented on #176
I was actually going for relative to root.

[2018-10-04 16:57] mattisbones commented on #176
In your case would calling `route('messages.index', [], false).url()` to strip the domain work?

[2018-10-04 22:42] Livijn commented on #176
Yes, that seems to do the trick. I am just replacing it like this `route('messages.index').replace(Ziggy.baseUrl, '')`, which is to me, more readable.

Maybe a `route().withoutDomain()` would be good?

[2018-10-05 09:04] asologor commented on #174
@ankurk91 In your second example (without named params) Laravel does not produce trailing slashes:
[code]
but ziggy does:
[code]

Add more optional params and you'll see more slashes.

[2018-10-05 11:29] ankurk91 commented on #174
@asologor
I agree.

You have already suggested a solution above. Why don't you come up a PR with tests.

It is Hacktoberfest 2018 going on 😄

[2018-10-05 14:04] asologor commented on #174
@ankurk91

No-no-no :smile: Sorry, but I have not enough time for contributing now.

[2018-10-13 20:01] akupczak opened #180 "Question about nested routes."
Hallo, I have small problem. My project uses nested routes.
For example : system.admin.events
I think that right now there is no way to define group like this:
` 'events' => [
     'system' => [
            'admin' => [
                'events' => [
                    'events.*'
                ],
            ]
       ]
 ]`
blade
`@route('events')`

Or is there?
Let me know if you are in plan to

[2018-10-16 14:04] Jannick94 opened #181 "CSP support"
### Expected Behavior
Being able to specify either a nonce or a hash for my CSP policy. Which is then inserted into the script tag generated by Ziggy.

### Current Behavior
The "template" from which the DOM is generated is just a static HEREDOC notated string. Which causes my CSP policy to block the resulting script tag.
 https://github.com/tightenco/ziggy/blob/master/src/BladeRouteGenerator.php#L

[2018-10-21 06:08] prasetyo-jeanu commented on #70
add route method on mixin
@montogeek

`
import Vue from 'vue';
import {Ziggy} from './ziggy';
import route from '../../../vendor/tightenco/ziggy/src/js/route';

Vue.mixin({
    methods: {
        route: function ( name, params, absolute ) { return route(name, params, absolute, Ziggy); }
    }
});
`
https://github.com/tightenco/ziggy/issues/154#issuecomment-397841738

[2018-10-21 20:35] akupczak commented on #180
This package is not supported anymore, no answer from creator since 8 days. I really don't suggest anyone to use it. If you do, you may end up with legacy within 2 weeks. #close

[2018-10-21 22:00] #180 closed

[2018-10-22 17:46] #175 closed

[2018-10-29 04:34] ankurk91 commented on #181
You can completely disable the `@route` directive and use the command to generate the routes to a separate js file

https://github.com/tightenco/ziggy/blob/master/src/CommandRouteGenerator.php#L13

[2018-10-29 05:42] #165 closed

[2018-10-29 06:13] DanielCoulbourne commented on #181
If you make a PR that allows you to do this without adding a parameter to the blade directive, I'd merge it.

As long as it doesn't change the surface-level userland api or make BladeRouteGenerator too complicated, I'm good with whatever.

The other options are to :

1) do what @ankurk91 suggests above
2) extend BladeRouteGenerator and make it output the script tag the way you want, then add your

[2018-10-29 06:13] #181 closed

[2018-11-03 11:55] osinga opened #183 "Feature Request: Expose dynamic parameters for current route"
### Expected Behavior
It can be useful to have all route parameters available as an object, e.g. to make asynchronous calls based on an ID. Taking an example from the README, a route like `route('events.venues.show', [1, 2])` would provide you with:

[code]

As for the API, I see two options:

**1. Based on the [`current()` implementation](https://github.com/tightenco/ziggy#current)**
[code]

**2.

[2018-11-05 17:14] avrahamappel commented on #118
Can we encode the keys as well as the values? So if I have
[code]
it should become
[code]

[2018-11-05 23:03] bradlc opened #184 "Replace webpack with Microbundle?"
Hey 👋

I have a couple of questions regarding the JavaScript for Ziggy:

Would you consider replacing webpack with Rollup, via [Microbundle](https://github.com/developit/microbundle)? I have done this on a branch and the UMD bundle is now 1340 bytes gzipped, down from 2161 bytes (**38% smaller**). Another benefit of this is that there are **6 fewer dependencies**. I’d be happy to submit a pull req

[2018-11-05 23:37] DanielCoulbourne commented on #184
As far as publishing on on NPM, much of the functionality of Ziggy depends on Laravel, and thus needs to be published on Composer. We COULD publish a version of it, but it would  belife  missing a lot of features.

As far as switching to roll up, I want @ankurk91 to weigh in on that as he’s our resident JS build pipeline expert.

[2018-11-05 23:39] DanielCoulbourne commented on #183
I’d be open to this. It would need to be smart enough to handle arrays as well

[2018-11-06 05:42] ankurk91 commented on #184
### quick dependency size test
[code]
[code]
Current solution is half in size.

microbundle is wrapper around rollup, i want the solution to be close metal.
If you can come up with a pure rollup [solution](https://github.com/rollup/rollup-starter-lib) that would be great.

**Your solution should satisfy below requirements.**
* UMD build
* `babel-preset-env`; so that we can specify the browsers tha

[2018-11-06 20:20] gabyrusu opened #186 "Cannot read property 'id' of null in Vue Component"
### Current Behavior
route('product.show', {slug: form.slug}) returns "/product/my-product" which is correct, BUT it throws an exception
[code]
generated in hydrateUrl() method:
[code]

### Currently installed Laravel version:
`5.7.12`

### Currently installed Ziggy version
`0.6.9`

### Route from Laravel Routes file.
[code]
### Contents of Ziggy.namedRoutes
[code]

### Ziggy call in context
[code

[2018-11-06 21:08] osinga commented on #183
For the query parameters, you mean? I was thinking of adding just the route parameters for now.
Vue Router, for example, has them split into `$route.params` and `$route.query`.

[2018-11-09 13:17] DanielCoulbourne commented on #183
Right. Can you talk me through where the data would come from? I was assuming we would be parsing the `window.location` as we do for `route().current()`

If we were going to do that we would need to be smart enough to handle situations like this:

`http://example.com/posts?categories[]=blog&categories[]=news`
[code]

[2018-11-09 13:49] DanielCoulbourne commented on #184
What I'm gathering from the comments on #185 and #188 is that we can gain a much smaller minified file if we get rid of IE11 polyfills, but if we choose to keep polyfills we end up with a bundle around the same size.

Is that about right @ankurk91 and @bradlc ?

[2018-11-09 13:54] ankurk91 commented on #184
There is only IE11 specific [polyfill](https://github.com/tightenco/ziggy/blob/0f59b703236f6b19002bc28d1d3eafcbf479bd43/dist/js/route.js#L154) ; that is for Object.assign.

Rest of them added by babel for other reasons, for example

https://github.com/tightenco/ziggy/blob/0f59b703236f6b19002bc28d1d3eafcbf479bd43/dist/js/route.js#L107

https://github.com/tightenco/ziggy/blob/0f59b703236f6b19002bc28

[2018-11-09 13:55] ankurk91 commented on #184
Yes, if we keep go with rollup and Babel, it will ended up with same bundle size.

[2018-11-09 13:59] DanielCoulbourne commented on #184
Seems like we should just stick with webpack then, unless there is a very compelling reason to switch.

[2018-11-09 14:05] ankurk91 commented on #184
Agree, i can serve additional 3kb if it enables my app to support more browsers.

[2018-11-09 14:30] bradlc commented on #184
Hey @ankurk91. I really appreciate you taking the time to look into the alternatives, I just haven’t had the time this week to respond to your queries. Sorry about that! I will put a PR together by the end of the weekend. Thanks!

[2018-11-09 14:47] osinga commented on #183
Yeah, the data would indeed come from `window.location`. I've already created the [PR](https://github.com/tightenco/ziggy/pull/187), so you can see the implementation there.

I understand the need to handle arrays in query parameters, but my issue was initially aimed at route parameters. What I had in mind was the following:

[code]

The first being my PR, and the second being something to be impl

[2018-11-12 09:52] vpratfr opened #189 "Global parameter values"
### Expected Behavior

We have routes which are defined for specific subdomains using something like

[code]

I would like to allow ziggy to automatically fill the {subdomain} route parameter (which is not optional).

On Laravel/PHP side, this is already made possible using a custom `UrlGenerator` class.

On Client/JS side, I do not see a way to do that directly with Ziggy.

### Current Behavior

[2018-11-12 09:59] vpratfr commented on #189
Sorry. It seems to work when fixing the typo in your documentation:

defautParameters -> defaultParameters

:)

[2018-11-12 09:59] #189 closed

[2018-11-13 22:16] s-widerberg opened #191 "JS current method with optional parameter"
### Expected Behavior
When the URI you are currently navigated to uses an optional parameter route().current() should return the current route

### Current Behavior
When I'm on a route with an optional parameter, and am not using the optional parameter, route().current() is returning undefined. If I use the parameter route().current() is working correctly.

In the route listed below when I'm on

`

[2018-11-14 11:58] codegain opened #192 "Parameter behavior changed"
The behavior of handling optional parameters has changed from Ziggy 0.6.2 to 0.6.8 (I could not install any version in-between because of laravel version constraint) and the newest version is not working for me.
It always takes the "id" query parameter as route-parameter which it didn't do in my previous installed version (0.6.2). Do I have to change some configuration to make this work again?

##

[2018-11-14 12:05] Livijn commented on #191
I am experiencing the same bug.

[2018-11-14 12:06] codegain commented on #192
**Ziggy 0.6.2:**
[code]

**Ziggy 0.6.8:**
[code]

[2018-11-14 21:41] DanielCoulbourne commented on #184
@bradlc Any movement on this? I'd love to compare your PR to the two @ankurk91 put together and see what we can do.

[2018-11-15 13:17] bradlc commented on #184
@DanielCoulbourne https://github.com/tightenco/ziggy/pull/193

[2018-11-16 08:41] suabahasa opened #194 "laravel 5.7 new resource folder structure"
### Expected Behavior
when we run ziggy:generate command, the js file is created in resource folder.
the resource path for laravel 5.7 have been changed and remove "assets" subfolder as written on
https://laravel.com/docs/5.7/upgrade#upgrade-5.7.0

### Currently installed Laravel version:
`5.7`

I think this line https://github.com/tightenco/ziggy/blob/cb6baff5563cf719c6a3f194382da7bdc2c8f1db/src/

[2018-11-21 21:24] robfrancken opened #195 "Using @routes results in: Uncaught ReferenceError: Ziggy is not defined"
### Currently installed Laravel version:
`5.6.39`

### Currently installed Ziggy version
`0.6.9`

I've included the @routes directive in the header of my template.

Here is the output in the header.

[code]

[2018-11-21 21:44] robfrancken opened #196 "Uncaught ReferenceError: route is not defined"
### Currently installed Laravel version:
    `5.6.39`

### Currently installed Ziggy version
    `0.6.9`

Using `php artisan ziggy:generate` and using the route helper in Vue gives me error:

[code]

My app.js file:

[code]

[2018-11-25 21:33] robfrancken commented on #195
Perhaps a file got corrupted during install. Reinstalled the project and it works seamlessly now.

[2018-11-25 21:33] #195 closed

[2018-11-26 02:47] robfrancken commented on #196
Reinstall fixed it.

[2018-11-26 02:47] #196 closed

[2018-12-06 15:17] SimplyThomas commented on #194
This needs to detect what version of Laravel and set the path accordingly.

Also, Laravel 5.7 does not force this flattened folder structure, so it would really need to do more detection than just version to be as accurate as possible (or allow a .env override?).

[2018-12-14 05:01] vijaymgr opened #197 "Passing parameter catch with javascript to route"
Thank you for this awesome package. I am unable to pass parameter to named route.

For example:
Route:
I have route resource as
`Route::resource('user', 'UserController');`

 I passed id from html and catch with javascript: and want to pass the id with route whitle updating and deleting.
[code]
How can I do that using this package?

[2018-12-19 10:17] fridzema commented on #194
You can provide a path of the output file:
[code]

[2018-12-28 17:46] Ghustavh97 commented on #81
Would be nice if you told us what you were missing @Ctaque

[2018-12-29 10:04] Ctaque commented on #81
I think i was badly using it. Doing

route('routename')

Generates an url

[2019-01-16 05:56] jes490 commented on #197
You should pass it as `route('user.destroy', { user: id })`

[2019-01-19 15:38] vijaymgr commented on #197
.@jes490 it's not working

[2019-01-22 18:46] DanielCoulbourne commented on #197
What do you mean it's "not working"?

What is the result?

[2019-01-22 18:47] DanielCoulbourne commented on #194
If someone wants to PR a way of auto-detecting laravel version and setting the path automagically, I'd merge it. Otherwise, there is an option to set it manually as @fridzema noted.

[2019-01-22 18:47] #194 closed

[2019-02-06 15:27] Onind commented on #154
with the solution from @rodrigopedra i still get this error:

[Vue warn]: Error in mounted hook: "ReferenceError: route is not defined"

[2019-02-20 20:14] reinink opened #200 "route().current() not working for base route"
I have a dashboard route defined in Laravel:

[code]

But when I call `route().current()` on the dashboard page (`/`), this function returns undefined.

I would have expected `dashboard`.

[2019-03-05 16:47] andrewgorpenko commented on #200
Confirmed, same is happening to me.

[2019-03-07 22:16] DanielCoulbourne commented on #200
Thanks for this. Sorry for slow replies on all the recent issues. Haven't had a ton of 20% time lately. Hopefully this weekend or next week

[2019-03-16 04:45] karkowg opened #202 "Inconsistency in query param with array value"
Given a route with a query param key that has an array as a value
`route('route', ['foo' => ['a', 'b', 'c']])`

Laravel's route helper returns `/route?foo[0]=a&foo[1]=b&foo[2]=c` while ziggy returns `/route?foo=a,b,c`. When getting the param from the request object it handles it as a string and not an array.

### Currently installed Laravel version:
`5.7.*`

### Currently installed Ziggy version
`

[2019-03-19 16:22] DanielCoulbourne opened #203 "Get rid of Lodash dependency"
Seriously. Someone Git blame this and see if it was me who added it. If so, I'm fired.

[2019-03-20 23:58] object505 commented on #200
I got the same issue. In Ziggy.namedRoutes object I can see the route name:
`home: {uri: "/", methods: Array(2), domain: null}` but when using `route().current()` I get undefined.
Any plans when this will be fixed?

[2019-03-28 08:42] nioperas06 opened #204 "Check if a route is defined"
## Check if a route is defined
[code]

[2019-03-30 18:59] rpsimao opened #205 "Laravel Mix Url for Production server"
I've generated the _ziggy.js_ file from the artisan `ziggy:generate`

I'm using the file with _Laravel Mix_, but the problem is that the url generated is from the dev server.

I have this in my _app.js_ file, for overwriting:
[code]
Is this the correct way, or is there another way to change the url for production?

[2019-04-01 18:13] dbpolito opened #206 "Cannot use id param for query strings"
I got a route with no param declared, and i'm using like this:

[code]

* Current: `/something?0=1`
* Expected: `something?type=a&id=1`

Probably introduced by https://github.com/tightenco/ziggy/pull/143

[2019-04-12 19:01] davi5e opened #208 "Missing port value when using different domains in RouteServiceProvider"
### Expected Behavior
The URL should include the port value for all domains, not just the current one.
The port gets left out whenever Ziggy is called from `example.com` for a route that resides in `api.example.com` (other subdomains yield the same bug, as in trying to get a route under `example.com` from `admin.example.com`, for example).

### Current Behavior
Ziggy only adds the port when the ro

[2019-04-18 09:42] maxxscho commented on #200
Same here - base route isn't working with `route().current()`. I guess something with the trailing slash?

[2019-04-26 20:28] #191 closed

[2019-04-26 21:09] #203 closed

[2019-04-26 21:48] DanielCoulbourne commented on #200
This should be fixed in the latest build, which I'll tag today.
<img width="700" alt="Screen Shot 2019-04-26 at 5 47 31 PM" src="https://user-images.githubusercontent.com/429010/56838286-74a02900-684b-11e9-833a-a22907c9c5ee.png">

[2019-04-26 21:48] #200 closed

[2019-04-26 21:48] #172 closed

[2019-04-26 21:52] #107 closed

[2019-04-27 12:00] reinink commented on #200
Thanks @DanielCoulbourne!

[2019-04-29 06:23] maxxscho commented on #200
Works like a charm. Thank you @DanielCoulbourne !

[2019-04-30 21:40] mikemand opened #211 "Is there any way to make route().current() also match params?"
### Expected Behavior
Some way to determine that the route matches, including params. For example, if I'm on any of the following pages, `route().current('backend.inventory.show')` returns true because the route name is the same for all:
* /backend/inventory/1/category/2
* /backend/inventory/2/category/2
* /backend/inventory/3/category/13
* /backend/inventory/7/category/1
* /backend/inventory/1/ca

[2019-05-14 15:59] thoresuenert opened #213 "BUG route current is true for every substr of routename"
## For bug reports only please provide
the regex build by `route().current('events.*')` is wrong.
Given from the test case, the following assertion it correct:
[code]
From my understanding the following assertions should be correct as well:
[code]

but they are incorrect.

We found out that the regex in this line https://github.com/tightenco/ziggy/blob/253b919cddc196a5a9a94c5d1e406d1b57f700f1/src/

[2019-05-17 14:54] lgalaz commented on #154
@Onind  did you find a solution? Im getting the same error.

@DanielCoulbourne thanks for this package, its extremely useful. I think that instructions to use it with the artisan command should be included in the readme. Or do you suggest some other way to use it in a way that route info is not set in every view (as when using the blade directive).
I am trying with the suggestion from @rodrigopedr

[2019-05-21 21:04] CptMisery opened #217 "typeError: route is not a function"
### Expected Behavior
Should be able to add `@routes` to my blade and then the `route` function in JS should get routes

### Current Behavior
The JS gives me this error:
typeError: route is not a function

Note: I did get this working by adding `()` after `@routes`. However, after loading just one page with that change, I could then remove the `()` and everything continued to work. I did clear my

[2019-05-21 21:22] agm1984 commented on #154
Ok, I think I figured it out. First, dumping all the named routes into a publically-available `<script>` tag and `window.Ziggy` is a leaky abstraction in my opinion.

The solution described in this thread is probably what you want to do with Laravel/Vue.

Here is what I am doing now:
1) Run `php artisan ziggy:generate "resources/js/ziggy.js"` (this will generate the route list into the same folder

[2019-05-21 21:30] lgalaz commented on #154
awesome @agm1984 , i'll give it a try as soon as I can.
thanks.

[2019-05-21 22:44] M-Abdullahi commented on #154
Thank you @agm1984. Your solution worked for me.

[2019-05-21 23:00] DanielCoulbourne commented on #154
The horrific annoyance of generating routes every time they change is the primary driver behind the decision to include routes in a script tag by default, so as not to confuse new users. Your write up was very good for your use case, though, thanks for contributing that solution.

[2019-05-22 19:11] kcchurch opened #218 "route().current() returning 'undefined' for form POST routes"
Hello - first off, great package, thanks so much!

I have encountered an issue where the **current** route value for POST routes always comes back 'undefined'.  This does not happen for my GET routes, including when I change an undefined POST route into a GET route for testing purposes.  I can also change a working GET route to POST and it always returns undefined.  These routes are all defined in

[2019-05-23 13:14] DanielCoulbourne commented on #217
Did you clear your view cache as well as the laravel cache?

[2019-05-23 13:16] DanielCoulbourne commented on #211
This is a good idea. I mayyyyy have time for it tomorrow, but I can't be sure and if not it will be a couple weeks.

[2019-05-26 23:28] Sogl commented on #26
@mattisbones @DanielCoulbourne I have the same problem in Laravel 5.6 and Ziggy 0.7.1.

What route function `{{ route('permissions.create') }}` returns in blade:
[code]

With Ziggy:
[code]

[2019-06-05 15:29] thoresuenert commented on #218
@kcchurch maybe we faced a similar problem today:

First of all, `POST` routes are not visitable, i cannot stay on those routes from a user perspective.
So i makes no sense to me.

We had following problem in our `routes` files:

[code]

Because both routes share the same name, there should be a conflict somewhere in the current check or namedRoutes building blocks.

The `get route` gets removed i

[2019-06-05 16:12] kcchurch commented on #218
Hi @thoresuenert - thanks for the response.

I have confirmed that I do not have any duplicate route names in web.php, so that is not the issue.

I am surprised that you had duplicated route names with matching GET/POST routes, changed the names to be unique, and then everything worked as expected.  I have tested that out on my end I get the same behavior - the GET route works as expected, but the

[2019-06-06 16:15] thoresuenert commented on #218
hi @kcchurch

to be clear how the current function works:
It is looking for get routes only.

So when you want to check for a post route you need a second get route with the same url.

Otherwise you can fork the repo and change one specific line:
https://github.com/tightenco/ziggy/blob/253b919cddc196a5a9a94c5d1e406d1b57f700f1/src/js/route.js#L123
There you see the `indexOf('GET')` which is your "p

[2019-06-06 16:18] kcchurch commented on #218
Hi @thoresuenert -

Perfect, thanks for your help!

[2019-06-06 16:18] #218 closed

[2019-06-16 10:22] Sogl opened #220 "Feature request: Breadcrumbs generation"
Would like to see this feature as in this package: https://github.com/davejamesmiller/laravel-breadcrumbs

P.s. Any ideas how to pass breadcrumbs into .vue templates?

[2019-06-17 02:31] zhanang19 commented on #217
Try `php artisan view:clear` and `php artisan config:clear` if you use an advanced config

[2019-06-24 18:56] curtisblackwell commented on #202
Is there any reason #219 hasn't been accepted yet? Just busyness?

In case it's helpful, I copied the changes locally and confirmed URLs are generated as I expected.

[2019-06-26 09:23] fridzema commented on #96
I had this error a few times now.
Make sure that the value you are passing to object is defined!

[2019-07-19 18:27] gms8994 opened #225 "Default parameters not used if number of passed parameters matches number of found parameters in route"
### Current Behavior
Passing the same number of parameters to a ziggy route (as the expected number of parameters in the route) will not use default parameters, even if the parameters passed are intended to be querystring parameters.

## For bug reports only please provide
### Currently installed Laravel version:
`5.7.28`

### Currently installed Ziggy version
`0.7.1`

### Example route from your

[2019-08-07 07:50] amrikasir commented on #217
or, try to clear caches in your browser. sometimes I got this error too.

try to check the code the browser render, Ctrl + U. `@routes` just add a tag `<script>...</script>`.

[2019-08-30 15:53] #186 closed

[2019-09-05 11:29] JacobBennett commented on #155
FYI, just had same problem. Fixed it by moving `@routes` to footer.

[2019-09-05 20:52] kriskornel commented on #115
<?php echo app(Tightenco\Ziggy\BladeRouteGenerator::class)->generate(); ?>

[2019-09-05 20:52] kriskornel commented on #115
this still work for me
[code]

[2019-09-05 23:27] m1guelpf commented on #211
@DanielCoulbourne Sorry to bother you, but is there any progress on this? :D

[2019-09-06 22:33] nmsmith22389 commented on #213
Thanks for finding this! 👍 I could see this really causing some unwanted side effects. Hope the PR gets merged soon!

[2019-09-10 16:59] #225 closed

[2019-09-11 01:44] djaiss opened #233 "Wrong release number 0.8.1"
Hi team,

Just so you know, your latest release has changed its version number from `v0.8.0` to `v8.1`. I assume this is a mistake and it should be `0.8.1` and not `8.1`.

[2019-09-11 01:55] DanielCoulbourne commented on #233
Thanks. Updated.

[2019-09-11 01:55] #233 closed

[2019-09-17 01:11] markokeeffe opened #238 "Documentation is missing the requirement of `vendor/tightenco/ziggy/src/js/route.js`"
### Expected Behavior
Documentation should explain that the `route.js` file needs to be imported from `vendor/tightenco/ziggy/src/js/route.js` when using the `ziggy:generate` artisan command.

### Current Behavior
Not documented.

I've put together an example for anyone that uses Laravel Mix and Vue (probably a lot of people who want to use Ziggy!)

[2019-09-17 06:12] the94air opened #241 "Documentation is outdated"
Continue #140

I have noticed that the docs have been outdated for a quite long time and I need to make a move. I was willing to make the documentation auto-updated order by the project release using a CDN like so:

**Example**
https://cdn.jsdelivr.net/gh/tightenco/ziggy@0.8.0/README.md
https://cdn.jsdelivr.net/gh/tightenco/ziggy@0.7.0/README.md

then we compile the markdown on client-side using [

[2019-09-19 15:33] Albvadi commented on #238
Hi @markokeeffe,
I've tried your example but it doesn't work... :disappointed_relieved:

webpack.mix.js
[code]

app.js
[code]

Using in vue component
[code]

Error console when compiling:
[code]

Any idea??
Thanks!

[2019-09-19 21:12] markokeeffe commented on #238
You will need to run the ‘ziggy:generate’ command to output your route declarations to ziggy.js

Mark

[2019-09-19 21:28] Albvadi commented on #238
Before writing here, I had executed the command and the file ziggy.js had
been generated correctly in the path `resources/assets/js/ziggy.js`

But even so, it seems that when compiling he can't find it ...

El jue., 19 sept. 2019 23:12, markokeeffe <notifications@github.com>
escribió:

[2019-09-19 23:20] markokeeffe commented on #238
Depending on your Laravel version, you may need to change the path of the `ziggy:generate` command as it defaults to the 'legacy' `resources/assets/js/` directory. Laravel >=5.8 (I think) uses `resources/js/` instead.

I've just done a fresh Laravel install and these are the exact steps taken to get Ziggy to work with Vue:

**Set up in terminal:**
[code]

**webpack.mix.js**
[code]

**routes/web.ph

[2019-09-20 07:07] Albvadi commented on #238
I think this is the key because I´m using Laravel 6.
I have launched the Ziggy command by changing the output directory (`php artisan ziggy:generate ./resources/js/ziggy.js`) and reviewing all your steps and everything works perfectly.

Thank you so much for your help!!

[2019-09-20 07:18] Albvadi commented on #238
Uhmm, One last thing...
I know its a Vue question, but I´m a newbie here... :slightly_frowning_face:

If I use `route()` in template, it´s working correctly, but If I use inside `data` or in a axios petition, the vue component crash with `[Vue warn]: Error in data(): "ReferenceError: route is not defined"`

[code]

[2019-09-20 10:24] markokeeffe commented on #238
When using `Vue.mixin()`, you are essentially adding something to every component definition, so the following snippet:
[code]
adds a `route()` method to every component (accessible with `this.route('route.name.here')`.

For your example, you don't need to assign `route` at all in the `data() { ... }` portion of your component. You can fix your `importUser()` method by simply using `axios.post(thi

[2019-09-20 10:49] Albvadi commented on #238
Using in axios works like a charm!
I´ll save this issue for the future, it´s a great explanation...

Thanks so much for take your time to explain me basics of Js/Vue... :)

[2019-09-20 18:54] aaronhuisinga commented on #205
This is actually a really interesting problem now while using Laravel Vapor. It generates a vanity URL for the app, which when using Ziggy and using a generated file, will not work.

[2019-09-20 19:58] DanielCoulbourne opened #242 "Remove out of date info about a PR in Laravel HAML in readme."

[2019-09-20 20:00] DanielCoulbourne commented on #241
Lets either generate it or drop it.
Manual maintenance is going to be impossible long term.

[2019-09-20 20:05] #242 closed

[2019-09-30 15:40] jakebathman commented on #213
Closing this, since the PR was merged as #235 (had to be re-done, it's a GitHub issue). Thank you @thoresuenert! 🎉

[2019-09-30 15:40] #213 closed

[2019-09-30 15:42] #217 closed

[2019-09-30 15:45] jakebathman commented on #206
Can anyone reproduce this? I'll give it a try this Friday if not, just to see if it's still a bug and if it is we'll get a fix in.

[2019-09-30 15:46] #184 closed

[2019-09-30 15:46] #197 closed

[2019-09-30 15:48] jakebathman commented on #205
If either of you could get us some reproducible configs (like a route definition and example `ziggy:generate` output) we can take a look. I'm not sure if the solution is closer to a bug fix or a feature for some kind of dynamic base URL fixer as provided by @rpsimao.

[2019-09-30 16:35] rpsimao commented on #205
I've been using my solution for every project I need. So for it has been working flawlesssly.

A new project I'm working this are my files:

**Custom route file (routes/internal.php)**
[code]

**Ziggy Generated File (php artisan ziggy:generate)**
[code]

**App.js (/resources/assests/js/app.js)**

...
[code]

[2019-10-01 09:42] JameL83 commented on #206
I can reproduce this and i think its this function normalizeParams in routes.js, correct me if i am wrong.

    normalizeParams(params) {
	if (typeof params === 'undefined')
            return {};

        // If you passed in a string or integer, wrap it in an array
        params = typeof params !== 'object' ? [params] : params;

        // If the tags object contains an ID and there isn't an ID

[2019-10-01 15:10] Jhnbrn90 commented on #204
I would like to give this one a try

[2019-10-10 10:10] YannGrosjean commented on #142
It's actually append to me with the port number : if I try to use route().current() on localhost:3000 the function return undefined, but work well on localhost:8000.

Any way to make it work ?

[2019-10-16 12:29] eric-reichenbach opened #249 "Default param injection"
### Expected Behavior
Parameters that aren't set manually but have a default value should use the default value in any cases.

### Current Behavior
Currently Ziggy check the number of parameters to determine if it needs to inject default parameters. It will throw an error if a parameter doesn't get a value even if it should get it from the default values.

## For bug reports only please provide
##

[2019-10-16 19:26] pmochine opened #250 "The old 0 - Zero bug is back"
The old bug is back: https://github.com/tightenco/ziggy/issues/157

### Expected Behavior
    route('chat.inbox', 0).url()
or

    route('chat.inbox', {offset: 0}).url()

should result to:

    https://myapp.test/api/chat/inbox/0

### Current Behavior
    route('chat.inbox', 0).url()
or

    route('chat.inbox', {offset: 0}).url()

results to

    Uncaught Error: Ziggy Error: 'offset' key is requir

[2019-10-16 19:50] pmochine commented on #250
Starting to dig:

If you add this test, it's going to fail:

    it('Should pass param if its value is zero', function() {
        assert.equal(
            'http://myapp.dev/users/0',
            route('team.user.show', 0).url()
        );
    });

Results to `Error: Ziggy Error: 'id' key is required for route 'team.user.show'` as in my example

[2019-10-17 06:17] EricReichenbach commented on #249
Here an example to illustrate my problem:
let say we have the route :
`life/on/{planet} ->name('life')`

and a default parameter :
`"planet" => "mars"`

if while using we use add a custom parameter to the ajax call for example :
`route('life', {ziggy:"startdust"})`
Ziggy will throw an error saying that the parameter "planet" is required.

How ever if you do
`route('life', {ziggy:"stardust", goblin

[2019-10-18 13:31] pmochine commented on #250
I uploaded a fresh installed Laravel file to demonstrate my bug.

Please have a look and download the file to test it out.

https://github.com/pmochine/Ziggy-Zero

[2019-10-18 20:44] jakebathman commented on #250
Fixed in #251

[2019-10-18 20:44] #250 closed

[2019-10-18 21:40] DanielCoulbourne commented on #238
It looks like we're all good here! Love to see people helping each other

[2019-10-18 21:40] #238 closed

[2019-10-18 21:40] #176 closed

[2019-10-18 21:52] #204 closed

[2019-10-18 21:53] DanielCoulbourne commented on #220
Hey, this isn't on our roadmap at the time. It's a cool idea, but out of scope for us I think.

[2019-10-18 21:53] #220 closed

[2019-10-25 21:52] DanielCoulbourne commented on #192
Heads up, I've been working on debugging this for a few hours. Its very annoying, but a fix should be coming soon

[2019-10-29 02:07] butcherman commented on #78
I know this is a little old, but I had this issue as well, but figured out what was going on.  The problem is that the ID parameter for the route does not exist until the AJAX call is completed.  So, when the page loads, the error is triggered because the variable is not there yet.

My solution:
Create a null variable that is assigned to the route, and fill it after the AJAX call.  This seems to w

[2019-11-02 09:24] paulotra opened #254 "Ziggy Script in Comment"
### Expected Behavior
Load ziggy script first.

### Current Behavior
I have some issues with the ziggy script in the server, works fine on local. the script commented and fires and error `current` is undefined. Is there an option to load the routes first before my app.js?

## For bug reports only please provide
### Currently installed Laravel version:
`5.8.35`

### Currently installed Ziggy versio

[2019-11-02 09:37] #254 closed

[2019-11-02 09:42] bkintanar commented on #254
Hahaha!

[2019-11-08 00:04] jny986 commented on #70
slight fix to this one.

`import route from '../../../vendor/tightenco/ziggy/src/js/route';`
should be
`import route from '../../vendor/tightenco/ziggy/src/js/route';`

[2019-11-15 20:09] jakebathman commented on #249
Hey Eric!

Thanks for this issue report. I've tried to replicate the issue and can't get it to work the same as you've reported.

If I do `route('life', {ziggy:"stardust", goblin:"king"})` it fails with a missing parameter error, the same as `route('life', {ziggy:"stardust"})`.

Is there something else in your setup/application that might be causing the issue? What does your actual route definitio

[2019-11-18 19:01] roni-estein opened #255 "Add a route existence check"
It might be nice to have build in existence checking for a route
### Expected Behavior
Right now I've just added a global mixin

[code]

On occasion I want to check if a route exists before offering a to the user.Having a convenient way to check it is always a plus. I'm sure there is a better implementation internally.

[2019-11-20 20:44] Ulyev-ad opened #257 "The Protocol is cached"
Caught the following error: when installing the library on the site with the http Protocol, the Protocol is cached and, even if I explicitly in routes/web prescribe URL:: forceScheme ('https'), then laravel change routes, and Ziggy does not change - baseProtocol: 'http'.

Clean all kinds of caches in laravel.

I use laravel6, php 7.3 and @routes. When generating in js file, the correct Protocol is

[2019-11-26 18:44] SuperDJ opened #258 "Only return user relevant routes"
### Expected Behavior

Only show the routes that apply to the middleware. For example a guest user should only be able to see the routes that apply to a guest user. This will not only improve peformance as not all routes are always returned. It will also improve security as a guest user will not know about available auth routes.

### Current Behavior
Modification

## For bug reports only please pr

[2019-11-27 14:51] JameL83 commented on #206
Any progress on this?

[2019-12-01 20:51] Stereotip42 opened #261 "Support for laravel 6"
Good time of day. Is there an update planned for laravel 6?

[2019-12-01 21:03] #261 closed

[2019-12-08 14:50] aFluxx commented on #238
Hello,

When I try this approach I keep getting the following error:

[code]

[2019-12-08 21:37] markokeeffe commented on #238
ziggy.js comes in the composer package. The example adds a webpack alias:

mix.webpackConfig({ resolve: { alias: { ziggy: path.resolve('vendor/tightenco/ziggy/src/js/route.js'), }, }, })

Sorry about formatting, replying via email

Mark

[2019-12-09 14:02] aFluxx commented on #238
Hey Marko,

With your implementation everything works fine.
There is a slight difference between your fix and the code which is shown in the documentation.

The docs state:
`ziggy: path.resolve('vendor/tightenco/ziggy/dist/js/route.js'),` which does not seem to be exporting the route.

The fix that works:
`ziggy: path.resolve('vendor/tightenco/ziggy/src/js/route.js'),` which does export and does w

[2019-12-09 16:54] aFluxx opened #264 "How do I use this package with jest?"
### Currently installed Laravel version:
`6.6.*`

### Currently installed Ziggy version
`0.8.1`

Hello, I'm in the course of testing my vue components, but I'm stuck on Vue components that use this package. For some reason I am not able to import the route helper. In the hopes of figuring this out I'm launching a long shot here, maybe someone has had a similar issue.

These are my imports atop of

[2019-12-09 23:10] markokeeffe commented on #238
@aFluxx I haven't had any issue using the file from `dist`.

If you reference the `route.js` file from the `src` directory, you will most likely have to update your webpack config to ensure the `babel-loader` will include that file to transpile the JS into a browser friendly ES5 syntax.

Requiring the `route.js` from the `dist` directory won't have this problem as it's already been transpiled.

[2019-12-17 11:01] AN1BRA opened #265 "ReferenceError: route is not defined"
I have an issue with Ziggy, I was using it first with the directive `@routes` but after switching to the artisan method the `route` helper function fails to import,
###Steps to reproduce
in webpack.mix:
[code]
in app.js:
[code]

### Current Behavior

## For bug reports only please provide
### Currently installed Laravel version:
`5.7`

### Currently installed Ziggy version
`v0.6.8.1`

[2019-12-23 10:17] Kovalchuk91 commented on #264
@aFluxx one option is to map it in your package.json file:
`
{
 "jest": {
     "moduleNameMapper": {
         "^ziggy$": "<rootDir>/vendor/tightenco/ziggy/dist/js/route.js"
     }
 }
}
`

Another option it to mock this file in jest (https://jestjs.io/docs/ru/manual-mocks). Just create a ziggy.js in __mocks__ folder and export a function that will mock ziggy's one.

[2019-12-24 11:49] aFluxx commented on #264
Thanks Koval, gonna try it out!

[2020-01-02 21:09] jakebathman opened #266 "Running PHP tests on this package fails with bleeding edge laravel/framework versions 6.x-dev"
_Note: this is an issue with contributing to tightenco/ziggy and testing it directly, not with using the package in an existing app._

# Summary

When cloning this repo locally, setting it up, and running `phpunit` tests, all tests fail with exception **Target class [blade.compiler] does not exist.** Here's an example build showing this failure: https://travis-ci.org/tightenco/ziggy/jobs/632015734

[2020-01-02 23:04] jakebathman commented on #265
Are you using Vue with your project? If so, can I see what the whole `app.js` file looks like?

If not, you only need to add those first two lines to your `app.js` file:

[code]

[2020-01-03 16:05] jakebathman commented on #264
Gonna close this issue, but if anyone has more info feel free to reply again.

[2020-01-03 16:05] #264 closed

[2020-01-10 22:09] jakebathman commented on #266
The issue of failed tests has _not_ persisted in the framework `6.10.1` release, meaning this was probably an issue with using the bleeding-edge `6-x` head. The second, long-term solution should still work to prevent these kinds of issues from occurring during development or with contributors, allowing us to still explicitly test against pre-release major versions when we're ready.

[2020-01-13 15:29] vinaysudani commented on #115
Tried with @routes() and it worked and then switched back to @routes its still working.

[2020-01-15 23:16] Acen commented on #265
When are you connecting `window._route`?

The Vue mixin makes it so that `this.route` connects to this function you're defining here. But afaik by default Ziggy doesn't push anything into the global space by default.

[2020-01-15 23:25] Acen commented on #255
Ziggy internally as part of the UrlBuilder function does a quick undefined check against `this.ziggy.namedRoutes[supplied_route_name]` or alternatively it should throw an `Error`.

[2020-01-25 12:12] TheNewSound commented on #211
I would like to see that `current()` wont return a name but the whole route object, including resolved parameters

**Example:**
Route: `/item/{name}`
Current url: _/item/example_
So I could use `current().parameters` to get: {name: example}

[2020-02-14 02:23] selenearzola commented on #115
Hello there,

I'm not able to use it on laravel 5.6 using ziggy's version 8.1. Route is not defined. Fun fact, this error only shows on my server (amazon aws ec2). Can you help me please?

[2020-02-18 03:13] indapublic opened #270 "Is it possible use this package with Laravel and twig?"

[2020-02-18 21:18] atymic commented on #142
Also having this issue as well, port 3002 :)

[2020-02-18 21:22] atymic commented on #142
As per above, seems to be wonky parsing.
On the latest version.

 cc @DanielCoulbourne

![image](https://user-images.githubusercontent.com/50683531/74778988-ce994000-52f0-11ea-968d-c6b8c58a5bfe.png)

[2020-03-05 11:33] Zlob opened #273 "Suggestion: Extract JS code into npm package."
First of all, your library is awesome, thank you very much.

But in some cases it's not convenient to have JS code in PHP library. For example, in our project we build frontend separately from backend. That means that we have to install all PHP requirements only because of one js file, which leads to some specific problems with Docker image and e.t.c. I understand, that, as you [mentioned before](

[2020-03-05 13:59] RichardDern commented on #265
I have the exact same problem. I carefully followed the Artisan section of the readme, after ```composer require tightenco/ziggy```.

In _webpack.mix.js_, I added:

[code]

In _app.js_:

[code]

Then I generated the _ziggy.js_ file:

```php artisan ziggy:generate "resources/js/ziggy.js"```

So the _ziggy.js_ file is in the same directory as _app.js_ (you should probably update default location to

[2020-03-05 15:22] DanielCoulbourne commented on #273
Feel free to do it yourself, but I have no intention of maintaining a NPM repo.

[2020-03-22 16:50] benallfree opened #277 "Please publish to npm"
This ticket is a placeholder to follow up on #276

Currently, this package is not published on npm.

This would be helpful for those of us creating stand-alone SPA apps that interface with a Laravel-based API, but do not have any need for `composer` dependencies.

For example, I am using next.js to create a SPA that calls my Laravel API. Completely separate project. I use `php artisan ziggy:genera

[2020-03-23 19:01] DanielCoulbourne commented on #277
I think I'm fine with this but we would need some sort of workflow to make sure that Composer and NPM version numbers stay in sync. Probably something in CI

[2020-03-23 19:21] benallfree commented on #277
@DanielCoulbourne Is that something I can do as part of #276? Maybe I could add a prepublish check to make sure the `composer.json` and `package.json` versions match?

[2020-03-25 20:22] KuNman commented on #206
I confirm this behavior.

Debug result of `route(url, {page: 1, id: 2})`.
Get params are broken.

[2020-04-01 12:18] Mirkin-source commented on #265
Same problem here!

In **webpack.mix.js**, I added:
[code]

In **app.js** (not using Vue):
[code]

In **app.js** it creates:
[code]
Everything works if I @routes is added in the blade view, but if it isn't, I get "ReferenceError: Can't find variable: route".

[2020-04-03 12:46] notflip commented on #195
What do you mean with "reinstalled the project", I'm having the same issue, already ran compoer install and npm install

[2020-04-03 23:14] robfrancken commented on #195
Deleted ./vendor and ./node_modules directories then `composer install` and `npm install`. That resolved the issue for me.

[2020-04-04 04:49] notflip commented on #195
I think I might be confused by which javascript has to be inluded as well, is it enough to have
`import route from 'ziggy`
Or do we have to import the main library as well?

[2020-04-04 11:33] robfrancken commented on #195
`import route from 'ziggy'` only imports the helper function.

If you've generated the routes file with artisan command, e.g. `php artisan ziggy:generate "resources/js/ziggy"`, you'll need to import that file as well.

To use the route helper function, you need to make the generated routes accessible. I've just bound to the window object below, but you can import it into your Vue components as des

[2020-04-09 14:08] RandomWeasel commented on #208
I've got a potentially related issue, when routes are within a subdomain group (as per the example above), Ziggy throws an error saying that  the {subdomain} parameter is required.

If this parameter is then provided when calling the route, Ziggy does not error but urls are returned without the port number

Ideally Ziggy should handle subdomain params automatically (perhaps applying the subdomain

[2020-04-10 11:33] notflip commented on #195
Perfect! That solves it for me, thank you!

[2020-04-11 01:53] tkrause opened #279 "Cannot reset generated when using RoadRunner or Swoole"
### Expected Behavior
Ziggy should output full JS code on a hard refresh in RoadRunner or Swoole.

For example
![image](https://user-images.githubusercontent.com/1427628/79032462-7e559600-7b5b-11ea-8209-3d0a8e5596c6.png)

### Current Behavior
Ziggy outputs a shorter version of the routes causing a Ziggy and routes undefined error.

![image](https://user-images.githubusercontent.com/1427628/7903248

[2020-04-13 07:48] KalimeroMK opened #281 "How to setup package need more info"
Hi I have problem with setup tightenco/ziggy on laravel 5.8

Add Ziggy composer require tightenco/ziggy
run php artisan ziggy:generate and move it to same folder with app.js
Include our Blade Directive (@routes) somewhere in your template before your main application

add
[code]
in app.js
1st is working one manual second trows error
[code]
first trows sintax error

[code]
returns
 Syntax Error: Sy

[2020-04-14 13:28] #281 closed

[2020-04-20 11:02] modstore opened #282 "Routes js file path is relative to current dir rather than project root"
### Expected Behavior
Routes js file should be generated in the path relative to the project root.

### Current Behavior
File is generated relative to the current directory when the command is run.
Eg. my CI deploy command:
/usr/bin/php ~/releases/1/artisan ziggy:generate "./resources/js/generated/ziggy.js" -vvv
The file was generated at ~/resources/js/generated/ziggy.js rather than ~/releases/1/r

[2020-04-20 20:44] RedFernLiam opened #283 "Recursive route"
### Expected Behavior
URL to be: http://example.com/api/comments/[comment_id]/comments

### Current Behavior
URL is http://example.com/api/comments/comments?0=[comment_id]

## For bug reports only please provide
### Currently installed Laravel version:
`7.6.2`

### Currently installed Ziggy version
`0.9.0`

### Example route from your Laravel Routes file.
[code]
### Contents of Ziggy.namedRoutes
[

[2020-04-20 20:56] RedFernLiam commented on #283
This seems to be an issue with the laravel framework. When running `php artisan route:list` the url  generated for store is *api/comments/comments* for this route `Route::apiResource('comments.comments', 'CommentCommentController');`

[2020-04-20 20:56] #283 closed

[2020-04-20 21:17] RedFernLiam commented on #283
Opened this issue for anyone interested: https://github.com/laravel/framework/issues/32467

[2020-04-23 14:33] mazedlx commented on #265
Here's what my setup looks like, it works without the `@routes` blade directive:

In `app.js`:
[code]

in `webpack.mix.js`:
[code]

Compiles without errors, and everything works as expected. Hope this helps.

[2020-04-23 14:44] RichardDern commented on #265
I confirm @mazedlx setup. Two points changed between my setup and his.

These two lines are required:

[code]

And in ```webpack.mix.js```, I used the minified ```route.js```, whereas @mazedlx referred to the non-minified ```route.js```.

It works as expected now. thank you very much !

[2020-04-24 16:38] bakerkretzmar commented on #257
@Ulyev-ad just to clarify, if you change the protocol to `https` in your routes file and then run `php artisan view:clear`, does Ziggy correctly generate the new `https` routes?

[2020-04-24 17:03] bakerkretzmar commented on #192
Pretty sure this is because as of `0.6.7` we're specifically looking for an `id` key on the object passed in:

https://github.com/tightenco/ziggy/blob/master/src/js/route.js#L24-L34

[2020-04-24 17:44] bakerkretzmar commented on #202
Closed by #228.

[2020-04-24 17:44] #202 closed

[2020-04-24 18:40] jakebathman commented on #257
Closing this because we don't think it's an issue with Ziggy, but please let us know if there's more info or you have a reproducible test case.

[2020-04-24 18:40] #257 closed

[2020-04-24 18:56] bakerkretzmar commented on #205
@rpsimao we'll look into supporting this in the future, but for now, you can set the environment variable for the app URL when running the command to generate the routes file:

[code]

This will generate the routes file using `https://your-production-domain.biz` or whatever URL you pass into it.

[2020-04-24 18:56] #205 closed

[2020-04-24 19:07] bakerkretzmar commented on #241
We're going to just use the Readme as documentation.

[2020-04-24 19:07] #241 closed

[2020-04-24 19:22] bakerkretzmar commented on #258
Pretty sure [Advanced Whitelisting Using Groups](https://github.com/tightenco/ziggy#advanced-whitelisting-using-groups) covers this.

[2020-04-24 19:22] #258 closed

[2020-04-24 19:28] #266 closed

[2020-04-24 19:41] bakerkretzmar commented on #270
@indapublic yes, it should be possible. If you're using a mix of Blade views and Twig, you could use the `@routes` directive anywhere that you're using regular Blade syntax.

If you're doing all your templating with Twig, depending on your setup, you can create a Twig extension or find another way to call: `app('Tightenco\Ziggy\BladeRouteGenerator')->generate($group)` to generate and output the Ja

[2020-04-24 19:41] #270 closed

[2020-04-24 19:42] #273 closed

[2020-04-24 21:04] #279 closed

[2020-04-29 12:19] ankurk91 opened #288 "blacklist is being ignored when routes are cached"
### Expected Behaviour
It should respect the `blacklist` defined in `config/ziggy.php`

[code]
### Current Behaviour
When routes are cached with `php artisan route:cache`, it ignores the config and dump all routes on blade template.

## For bug reports only please provide
### Currently installed Laravel version:
`7.7.1`

### Currently installed Ziggy version
`v0.9.0`

### Example route from your L

[2020-05-01 20:05] bakerkretzmar commented on #277
Closed by #286.

[2020-05-01 20:05] #277 closed

[2020-05-01 20:50] bakerkretzmar commented on #288
I can't reproduce this locally—I have a bunch of named routes and I'm blacklisting them with wildcards and with specific names, cached and uncached, and it's working as expected. It even correctly picks up my changes to `config/ziggy.php` while routes are cached.

Can you post the complete contents of both your `config/ziggy.php` and the output of `Ziggy.namedRoutes` with and without routes cached

[2020-05-01 21:09] bakerkretzmar commented on #282
Thanks! Will be fixed shortly.

[2020-05-02 00:06] bakerkretzmar commented on #265
As pointed out above, this is just a question of bundlers not propagating `route` and `Ziggy` into the global scope.

If you're using the `route()` helper in your app Javascript files, you need to `import route from 'ziggy'` and `import { Ziggy } from './ziggy'` wherever you want to use them.

If you will later need to call `route()` somewhere else, like from other scripts loaded later on the page

[2020-05-02 00:06] #265 closed

[2020-05-02 06:24] ankurk91 commented on #288
I am not doing anything special in my routes, i have 3 different Laravel apps with same issue.

All of them have al-least 2 sub-domains, for example.
[code]

I am trying to make a minimal codebase to re-produce this issue, but could not.
I will re-open this issue, if i found something,

[2020-05-02 06:24] #288 closed

[2020-05-08 12:16] #282 closed

[2020-05-08 20:19] bakerkretzmar opened #292 "Missing documentation for using Ziggy from an npm package CDN"
Now that Ziggy is published on npm, it should be possible to use it with something like `cdnjs` or `unkpkg`. You'd need to import the generated routes yourself, but as long as you declare those first you should be able to do something like this:

[code]

[2020-05-09 04:29] ankurk91 commented on #292
@bakerkretzmar
Yes, it should work.
[code]

[2020-05-11 09:37] laxsmi commented on #218
I'm posting this here in case it helps others - a simple trick to use the package with POST routes is to call .url() on the route object.

`axios.post(route('post.store').url(), { ... })`

Thanks for the great package!

[2020-05-17 19:29] tnaffh commented on #142
This issue is still there in the latest version, any solutions?

[2020-05-22 16:17] bakerkretzmar commented on #255
Can't believe I didn't realize but we already have this: `route().check()` was added in #248 and released in [v0.8.1](https://github.com/tightenco/ziggy/releases/tag/v0.8.1) (I think).

It's not documented though, so I'll add it to the Readme. Thanks!

[2020-05-22 16:17] #255 closed

[2020-05-25 02:55] hydrogennz commented on #206
@KuNman did the route you were building this for have an optional id param?

i.e. `Route::get("/check/{id?}")->name("check")`

The issue I think is the check in `normalizeParams` needs to also check for optional ID params.

e.g.:
[code]
needs to be:

[code]

[2020-05-28 08:27] Yeenot opened #295 "Issue on getting parameters if project is under a subfolder"
Logic:
Everytime the country/language selector is changed, I need to redirect the user to the same page along with the other parameters that is in the route/url. In this case, I am on a page and trying to get the parameters.

Route:
[code]

JS:
`route().params`

Example:
https://domain.com/subfolder/{country}/{language}/products/{id}
https://domain.com/subfolder/ph/en/products/4

### Expected beha

[2020-05-31 02:52] bakerkretzmar commented on #295
@Yeenot are you generating the URL from those parameters, or are you on a page and trying to get the parameters with `route().current()`? Can you share the Laravel route definition too please?

[2020-05-31 07:09] Yeenot commented on #295
@bakerkretzmar sorry about the lack of information, I have edited now the description above and added some description logic to what I was trying to do.

Yesterday, I came up with a temporary solution where I have passed the uri and template to the `extractParams` method but without the base url.

[code]

[2020-06-01 00:39] bakerkretzmar commented on #295
Ok I think I understand, thanks. Is your whole Laravel app in a subfolder? Is your `APP_URL` environment variable set to `https://domain.com/subfolder/` (including the subfolder)?

Will look into this.

[2020-06-01 04:23] Yeenot commented on #295
@bakerkretzmar yes, the whole laravel app is inside a subfolder and the `APP_URL` is being set to that but without the end slash `/` like `https://domain.com/subfolder`

[2020-06-02 20:48] connectinghub007 opened #297 "The given data was invalid (laravel ecommerce) validation error (remote server)"
Im using laravel ecommerce system, the problem is when I upload a new image from gallery (remote server), it gives me 422 error but works fine on my localhost. The error shows

`'File media   'Status 422  'type xhr      initiator media.js?v=1.1.5:1

It's shows something like validation error. When I go to online json validator, its shows me after paste media.js code, it shows`

`Parse error on lin

[2020-06-02 21:03] bakerkretzmar commented on #297
Could you fill out the issue template please, so we understand your setup and what the expected behaviour is? I'm not certain that this is an issue with Ziggy at all.

From a quick look at that file, on line 275 `route: "admin.file_manager.index",` may need to be `route: route("admin.file_manager.index"),`.

I don't think using a JSON validator is going to help you here, that file isn't JSON.

[2020-06-02 21:28] connectinghub007 commented on #297
It's fleetcart. you may login if you wish to check

[2020-06-02 21:41] bakerkretzmar commented on #297
If you're having an issue with FleetCart, I would suggest contacting them.

I don't see any indication that this is an issue with Ziggy, could you please provide a full log / stack trace of the error you're seeing, as well as your Laravel and Ziggy version numbers, your route definitions, the output of `Ziggy.namedRoutes`, and an example of the Ziggy calls you're making? Thanks.

[2020-06-04 04:56] connecteev opened #298 "Can Ziggy be used with a framework like Nuxt.js?"
This is more of a question rather than a bug report or feature request, please redirect me if this is not the right place to ask this question.
I just discovered Ziggy and it looks like it would be useful to have named routes be accessible in Javascript.

My tech stack is Laravel (APIs) and Nuxt.js (for the front-end). Is it possible to have the Laravel routes be available in Nuxt.js? Or is this o

[2020-06-05 14:59] bakerkretzmar commented on #298
Yes, you can use Ziggy client-side however you like, including with Nuxt. I don't know much about Nuxt, but all you need to do is import the `route` function and the generated routes file. You can generate your routes file [using the `ziggy:generate` Artisan command](https://github.com/tightenco/ziggy#artisan-command).

My guess is this isn't too different from [using Ziggy with Vue](https://githu

[2020-06-05 14:59] #298 closed

[2020-06-05 15:00] bakerkretzmar commented on #298
See also #260.

[2020-06-05 15:14] bakerkretzmar commented on #295
@Yeenot can you provide the output of `Ziggy.namedRoutes` for your `products/` route above?

I have a feeling this issue is caused by how Laravel generates the route definitions, and since Laravel doesn't support being installed in a subdirectory there may not be much we can do.

[2020-06-05 17:37] connecteev commented on #298
@bakerkretzmar thanks for the thoughts, I'm a bit confused by this.
Nuxt is a vue framework that has all my front-end code, it's a completely different codebase from my laravel codebase (backend). How would the ziggy:generate Artisan command apply here? Won't I have to manually copy the file from my laravel codebase to Nuxt? Does it make sense to use?
Thanks..

[2020-06-05 19:37] bakerkretzmar commented on #298
@connecteev if they're in separate codebases, yes, you would have to run `php artisan ziggy:generate` in your Laravel app and then either copy the generated file over, or make it publicly available on your server and load it dynamically into your Nuxt app over the network.

#272 started work on adding this functionality so it's built-in, but it should be straightforward (if a bit tedious) to do ma

[2020-06-05 20:16] connecteev commented on #298
@bakerkretzmar thanks for clarifying, this is very helpful. Bookmarked and we will be looking into using Ziggy in our codebase. Thanks..

[2020-06-07 00:26] Yeenot commented on #295
@bakerkretzmar Sure, here it is. But I really think that Laravel supports it, we just need to set a`APP_URL` and add a public path on webpack for the assets.

Named Routes:
[code]

Webpack:
[code]

[2020-06-07 00:35] Yeenot commented on #295
@bakerkretzmar My guess is that the reason for this is you're using `window.location.pathname.slice(1)` on extracting params where it would include the `subfolder` path?

[code]

[2020-06-12 15:03] bakerkretzmar commented on #297
I'm going to close this for now as it doesn't appear to be an issue with Ziggy and we don't have enough information to look into it further. Feel free to comment below or open another issue if you're still having trouble. Thanks!

[2020-06-12 15:03] #297 closed

[2020-06-12 16:30] #292 closed

[2020-06-12 18:43] bakerkretzmar commented on #249
@eric-reichenbach can you update Ziggy to version `0.8.1` or higher and confirm if this is still an issue? I'm pretty sure it was fixed by https://github.com/tightenco/ziggy/commit/f3d08274629b17a2298279e9a51a1fec1833d3e1, which was released in `0.8.1` (2 days after you submitted this issue).

[2020-06-19 07:22] eric-reichenbach commented on #249
Sorry for the delay, I can confirm I don't have to problem anymore. Thanks a lot.

[2020-06-19 07:22] #249 closed

[2020-06-26 13:24] #295 closed

[2020-06-26 13:57] #192 closed

[2020-06-26 13:57] #206 closed

[2020-07-01 21:24] reinink commented on #211
I just ran into this myself. It would be awesome if Ziggy handled this out of the box! 👌

[2020-07-13 11:28] ArondeParon opened #308 "Support for custom Eloquent route keys"
### Description

Laravel has the ability to return a value other than `id` as the route key name using the `getRouteKeyName` method on an Eloquent model. (See https://laravel.com/docs/7.x/routing#implicit-binding)

This is useful, if you would like to refer to models by their UUID instead of id, for example.

Ziggy currently has the ability to feed an object to the `route()` helper, which will aut

[2020-07-20 23:36] bakerkretzmar commented on #308
This is a really cool idea, feels like an extension of #307. One thing I'm hesitant about is that right now Ziggy doesn't actually know when something is a 'model', it's just naively checking for an `id` key on the object. I would want to make sure that if the route key name is something pretty generic like `slug`, it doesn't accidentally apply to other routes using different model bindings.

Also

[2020-08-07 19:44] bakerkretzmar commented on #211
@TheNewSound interesting idea, can you make a new issue for that feature specifically?

[2020-08-29 08:10] robov opened #317 "Docs error"
It seems that your docs on the filtering is no longer correct.  except/only is replaced by blacklist/whitelist

[2020-08-29 08:29] robov opened #318 "Eslint triggers"
eslint triggers the following notifications:

392:3   error  for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array  no-restricted-syntax
  392:3   error  The body of a for-in should be wrapped in an if statement to filter unwanted properties from the prototype

[2020-08-29 18:03] bakerkretzmar commented on #317
Thanks, I'll update the readme. `whitelist` and `blacklist` will be replaced with `except` and `only` in v1, which isn't released yet. You can keep using them for now.

[2020-08-29 18:20] bakerkretzmar commented on #318
I'm not sure we actually have any `for ... in` loops in the source, are you sure this is coming from Ziggy?

[2020-08-29 19:13] #317 closed

[2020-09-03 01:34] bakerkretzmar opened #320 "Test Ziggy on Laravel 8"

[2020-09-03 13:47] robov commented on #318
Yes, because when I ignore that file, everything lints fine
btw.. awesome package !

[2020-09-03 23:58] nacr opened #321 "Generate on save"
### Description

Is there a way to run ziggy:generate on save of any routes file?

### Suggestion

May be inside a mix pipeline?

[2020-09-04 14:09] bakerkretzmar commented on #318
Thanks, glad you're finding it useful!

If I'm understanding correctly these warnings are generated by your eslint config, right? There's no runtime error or actual issue with Ziggy itself? If that's the case, just configure eslint to ignore the file as you mentioned.

[2020-09-04 14:09] #318 closed

[2020-09-04 14:42] bakerkretzmar commented on #321
Cool idea! Ziggy doesn't currently provide any way to do this, no.

You _might_ be able to do it with Mix, Mix provides a `.then()` method you can chain to do extra stuff every time it runs, but I don't think it watches PHP files by default and after some digging I can't figure out how to get it to either. Otherwise you could set up your own watcher to do this manually.

I think this is outside th

[2020-09-04 14:42] #321 closed

[2020-09-04 21:56] #308 closed

[2020-09-08 15:48] #320 closed

[2020-09-08 19:36] GENL opened #324 "What about adding a type definition of the Router and the route function?"

[2020-09-08 21:38] nacr commented on #321
@bakerkretzmar sorry for the late reply 🙏

this was my solution inside I'm including it inside my webpack.mix.js file.

[code]

[2020-09-09 13:23] bakerkretzmar commented on #324
We aren't familiar enough with Typescript to want to maintain this ourselves as part of Ziggy just yet. See #278. If someone does maintain separate type definitions on DefinitelyTyped or elsewhere, we'll gladly link to them in the docs.

[2020-09-09 13:23] #324 closed

[2020-09-09 20:37] bumbummen99 opened #325 "Laravel 8 support"
Please create a tag with laravel 8 support.

[2020-09-09 20:48] bakerkretzmar commented on #325
The latest release of Ziggy, `0.9.4`, supports Laravel 8.

[2020-09-09 20:48] #325 closed

[2020-09-22 20:38] gregoryalary opened #326 "How can I use Ziggy with React and Inertia ?"
How can I call in a React component the JavaScript `route` function generated by the Ziggy's `@route` directive ?

The `route` function is generated at runtime so it's impossible to import it beforehand in the react component and therefore, Laravel Mix throws an error and can't compile the project.

My stack is Laravel 8, Inertia & React.

Thanks !

[2020-09-22 22:40] bakerkretzmar commented on #326
You can import the `route()` function either from Ziggy's vendor directory, with something like

[code]

added to your Webpack config, or by installing the `ziggy-js` npm package.

Ziggy provides an artisan command, `php artisan ziggy:generate`, that will generate the object with all of your route information and put it either at `resources/assets/js/ziggy.js` or at the path you pass it.

After do

[2020-09-22 22:40] #326 closed

[2020-09-24 09:20] lodzen opened #327 "Mention React usage in Readme"
### Description

I struggled a lot with the usage in a React Application.
The problem was that i don't want to put the `@routes` blade directive in the header of my application because everyone can see all routes directly if the source code is inspected.

Due to this i wanted to go with option two to generate the Ziggy file and use it as custom Ziggy in the route() function.
In the Readme i could

[2020-09-24 12:59] bakerkretzmar commented on #327
I don't understand exactly what the helper accomplishes here. Can you just do

[code]

right were you actually need to use the `route()` function?

[2020-09-24 13:38] lodzen commented on #327
Yes i could do this also but then i need to mention every time the custom Ziggy as argument to the route function call.

[2020-09-25 14:00] bakerkretzmar commented on #327
@lodzen great point 😂 I'll think about how we can make this easier for React users, and in the meantime I'll update the Readme to link here. Thanks!

[2020-09-25 15:26] nevmerzhitsky opened #329 "Don't check domain value at route().current()"
### Description

I'm developing a Laravel 8 project locally and can access it via both (and many more) `localhost` and `blahblah.test` domains. I configured Laravel's `APP_URL` as "http://blahblah.test". And ran `@php artisan ziggy:generate "resources/js/ziggy.js"` via Composer `post-autoload-dump` script. Well, when I open the site at http://blahblah.test/ I see the correct work of `route().curre

[2020-09-25 15:29] jakebathman commented on #329
I'm reviewing a PR right now that would change how `route().current()` would work, so let me see if we can at the very least provide some flexibility with how it matches the path/query versus the entire URL. I could see that kind of flexibility coming in handy (and reducing issues like you've had).

[2020-09-25 16:21] bakerkretzmar commented on #329
@nevmerzhitsky interesting idea, thanks!

Are there any situations where you think this would be useful besides when switching domains locally as you described? If you run `php artisan ziggy:generate` during deployment, won't your frontend always have the correct `APP_URL`? Thanks!

[2020-09-25 16:23] bakerkretzmar commented on #327
I took a quick stab at a Hook that does something quite similar to your helper: https://codesandbox.io/s/useroute-ziggy-hook-elivv?file=/src/App.js

I could see this being something that might be worth including in Ziggy out of the box.

[2020-09-25 16:55] nevmerzhitsky commented on #329
Yep, deployment in one domain environment works fine. But projects like a platform of landing pages (multiple websites managed by one back-end) will feel this issue.

[2020-09-25 21:17] bakerkretzmar commented on #321
@nacr nice! I think you could use `child_process` from Node, and Mix already requires `chokidar`. I did some more digging and you could 'integrate' it with Mix a bit like this:

[code]

Note also the `Mix.isWatching()` check so it doesn't keep the process alive forever if you run `npm run dev` or `npm run prod` or something.

[2020-09-26 09:59] lodzen commented on #327
This looks great and i would appreciate it if this would be part of Ziggy.

[2020-09-26 23:25] bakerkretzmar opened #333 "Explore whether baseProtocol config option can be removed"
Ziggy only deals with Laravel named routes, which as far as I know can only be `http` and `https`. If that's the case, URL protocols probably don't need to be configurable.

See https://github.com/DefinitelyTyped/DefinitelyTyped/pull/48210#discussion_r495505368

[2020-09-29 13:44] gregoryalary commented on #326
Thanks, it worked !

Do you think it's good idea to add this information to the doc ?

[2020-09-30 03:22] bakerkretzmar commented on #329
@nevmerzhitsky when you have a minute can you provide a more detailed example of the setup you have in mind to help us work on this?

We can't remove the domain check entirely because there might be parameters there—if a route definition looks something like `{team}.app.com/users/{user}` we can't just match on `/users/{user}`. The protocol we can probably drop completely, and we could certainly pu

[2020-10-01 13:27] nevmerzhitsky commented on #329
In the current project, I use InertiaJS, VueJS, etc from Laravel Jetstream and I set `APP_ENV` and have no unsolvable issues with the library. And I have no experience in the development of landing platform, it was just an abstract idea. Thus I cannot advocate it. Let's forget the idea.

I think it will be great if it will work as you proposed: via the parameter.

[2020-10-01 13:37] nevmerzhitsky commented on #329
Just one comment about the solution.

I use the library with non-absolute routes in Vue by this wrapper:

[code]

If you implement the proposed solution I will add this wrapper too:

[code]

Could you consider breaking the relationship between `current()` and `Router` class?

And also make a way to configure the default value of `absolute` argument globally or per "JS-app"? I just annoying to do t

[2020-10-02 15:39] bakerkretzmar commented on #329
@nevmerzhitsky thanks a lot for this additional context! I'll look into adding this functionality via the parameter.

Both of those other suggestions, extracting `current()` somehow and overriding configuration globally per-app, are great ideas. I'll explore what they might look like.

Also, I think you can shorten your `absolute` check by setting its default value to `true`:

[code]

[2020-10-02 15:42] bakerkretzmar commented on #326
Yep! The alias part is [already there](https://github.com/tighten/ziggy#artisan-command), but it could definitely be clearer and it's worth mentioning React in addition to Vue.

[2020-10-05 20:13] briska opened #335 "params get replaced by [params.id] when they shouldn't"
Hello, I tried to pass some params to route function, but they were ignored. So i was trying to understand why and found this piece of code:

[code]

In my route template i have `{id?}` instead of just `{id}`, so the condition `this.template.indexOf('{id}') == -1` evaluates as `true` and that means all my params get replaced by just `[params.id]`.

I don't know, if that's something important for y

[2020-10-05 20:20] bakerkretzmar commented on #335
@briska this was fixed a while ago but the fix has not been released yet, technically it's a breaking change so it's going to be in `1.0`. Hopefully that release will be out some time in the next few weeks. Thanks for your patience!

[2020-10-05 20:20] #335 closed

[2020-10-09 13:58] bakerkretzmar commented on #211
This was added in #330 and will be available in v1 💪🏻

[2020-10-09 13:58] #211 closed

[2020-10-09 19:50] bakerkretzmar opened #339 "Ziggy 1.0 is coming!"
Ziggy `1.0` is almost ready to be released into the wild! 🎉

This release will include a major re-work of Ziggy's internals, as well as some new features and bug fixes. It also includes breaking changes, but the upgrade path for the vast majority of projects will be very straightforward.

For more details about the release, check out:

- the PR for the upgrade guide: #331
- the changelog on the `d

[2020-10-09 22:41] mikemand commented on #211
That's so awesome! Thank you @bakerkretzmar. Also, hurray for `1.0` release!

[2020-10-12 15:35] Max13 opened #340 "[Question] Boolean values casted to string"
Considering the following example code:

[code]

It's currently (`v0.9.4`) rendered as: http://example.com/collector/1/messages?body=true

In PHP it's considered to be a string, and both `"true"` and `"false"` strictly equals to the boolean value `true`. I think this comes from the `qs` dependency `stringify()` function, if I want to send a PR, should I send it to this repository, or to `qs` ?

[2020-10-12 17:23] bakerkretzmar commented on #340
Would `$request->boolean('body')` in your Laravel app do the trick? That will treat `"true"` as `true` and `"false"` as `false`.

[2020-10-12 17:55] Max13 commented on #340
@bakerkretzmar Indeed, while `$request->boolean('body')` correctly converts it back to strict boolean, the validation rule `boolean` doesn't.

Generally speaking, boolean `true` shouldn't be sent as `"true"`

[2020-10-12 18:31] bakerkretzmar commented on #340
I think for query strings your best bet is to do this formatting yourself. There's no way to actually send it as a boolean because everything in the query string is a string. It looks like people have asked about this in the `qs` repo and they left it up to users to implement the encoding/decoding they needed: ljharb/qs#91, ljharb/qs#214.

If you want to use the `boolean` validation rule you could

[2020-10-13 01:39] Max13 commented on #340
@bakerkretzmar The fact that the discussion in still ongoing since 5 years on `qs` is a proof that it's still a debate.

I personally think that the purpose of serialization is to keep at least a boolean value. IMO, `laravel/framework`'s boolean validation rule should support "true" and "false" as strings, but they won't as it's said to be a breaking change in behavior. `qs` shouldn't transform a

[2020-10-13 02:49] bakerkretzmar commented on #340
Actually, I think you might be right. My main goal for Ziggy's `route()` function is for it to work as closely as possible to how Laravel's `route()` helper does, so I tried this in PHP... and it turns out Laravel's `route()` helper already does exactly what you're suggesting:

[code]

Unfortunately we'll have to implement our own encoder and decoder to pass to `qs`, but it looks like we may just

[2020-10-13 09:15] Max13 commented on #340
If Laravel’s route didn’t change Boolean values to an int, I would have been surprised ^^’

I would happily submit a PR, I will to read about encoders on `qs` and submit something.

Thanks for the debate

[2020-10-21 10:58] ravdeepsingh22 opened #342 "window.Ziggy not in sync with ziggy.js"
### Expected behavior

### Current behavior
on doing a window.Ziggy the values in baseProtocol is always printed as baseProtocol: "http" , I have tried deleting the file manually , regenerating the file and then running npm run dev
The generated file is having correct values , however the route() function is always making the calls to http: instead of https:

Similarly  window.Ziggy is always usin